<GridLayout class="page">
    <Image class="app-logo" [src]="appLogo"></Image>
    <Label class="page-heading" [text]="pageHeading"></Label>
    <GridLayout class="main-container" rows="auto,auto,auto,auto,auto,*">
        <StackLayout row="0" class="textfield-container" marginTop="10%">
            <TextField class="textfield" [hint]="usernameHint" borderColor="transparent" backgroundColor="transparent"
                (textChange)="onUsernameTextChange($event)">
            </TextField>
        </StackLayout>
        <StackLayout row="1" class="textfield-container" marginTop="5%">
            <TextField class="textfield" [hint]="passwordHint" borderColor="transparent" backgroundColor="transparent"
                secure="true" (textChange)="onPasswordTextChange($event)">
            </TextField>
        </StackLayout>
        <StackLayout row="2" class="signin-button-container" marginTop="5%" (tap)="onSigninButton()">
            <Label class="signin-button" [text]="signinButton"></Label>
        </StackLayout>
        <!-- <GridLayout row="3" class="or-container" columns="auto,auto,auto">
            <StackLayout col="0" height="1" backgroundColor="#e6e6e6" width="45%" marginTop="5">
            </StackLayout>
            <StackLayout col="1" height="100%" width="10%" verticalAlignment="middle">
                <Label class="orlabel-class" text="or"></Label>
            </StackLayout>
            <StackLayout col="2" height="1" backgroundColor="#e6e6e6" width="45%" marginTop="5">
            </StackLayout>
        </GridLayout>
        <GridLayout row="4" class="social-container" columns="auto,auto,auto">
            <StackLayout col="0" class="social-logo-container">
                <Image class="social-logo" [src]="googleLogo" horizontalAlignment="right" (tap)="onGoogle()"></Image>
            </StackLayout>
            <StackLayout col="1" class="social-logo-container">
                <Image class="social-logo" [src]="twitterLogo" (tap)="onTwitter()"></Image>
            </StackLayout>
            <StackLayout col="2" class="social-logo-container">
                <Image class="social-logo" [src]="facebookLogo" horizontalAlignment="left" (tap)="onFacebook()"></Image>
            </StackLayout>
        </GridLayout> -->
        <GridLayout row="5" class="forgot-password-container">
            <Label class="forgot-password" [text]="forgotPassword" (tap)="onForgotPassword()"></Label>
        </GridLayout>
    </GridLayout>
    <GridLayout #errorDialog width="80%" height="30%" borderRadius="10" modal size="lg">

        <Label class="text-center" [text]="errorText" textWrap="true" fontWeight="500" color="white"
            fontSize="18%"></Label>

        <Button class="transparent-button" alignSelf="center" marginTop="15%" height="20%" width="40%" text="OK"
            (tap)="onErrorOKTap($event)" marginBottom="4" fontWeight="600"></Button>

    </GridLayout>
    <GridLayout *ngIf="isLoading" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</GridLayout>