<Page actionBarHidden="true">
    <GridLayout class="page" rows="auto,*">


        <GridLayout row="0" columns="auto,*" class="back-container" orientation="horizontal">
            <Image col="0" class="back-button" [src]="backbtn" (tap)="onBack()"></Image>
            <Label colSpan="2" class="add-song-text" [text]="addSongsText"></Label>
        </GridLayout>

        <StackLayout row="1" class="search-songs-container" tkExampleTitle tkToggleNavButton>
            <RadListView [items]="downloadedSongs" class="list" backgroundColor="#ffffff">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template tkListItemTemplate let-item="item" let-i="index">
                    <GridLayout class="song-container" columns="auto,*,auto" (tap)="onSong(item, i)">
                        <StackLayout col="0" class="song-image-container">
                            <Image radius="10" src="res://music_black" class="song-image"></Image>
                        </StackLayout>
                        <StackLayout col="1" class="song-detail-container" orientation="vertical">
                            <Label class="song-name" [text]="item.name"></Label>
                            <Label class="song-views" [text]="item.artist"></Label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>

        </StackLayout>


    </GridLayout>

</Page>