/* Add mobile styles for the component here.  */

.page {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 8%;
    /* background-color: #222326; */
}


.back-container {
    width: 100%;
    height: 8%;
    padding-left: 10;
    padding-right: 10;
}

.back-button {
    height: 25;
    margin-left: 5;

}

.add-song-text {

    width: 80%;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}


.search-songs-container {
    height: 100%;
    width: 100%;
}

.search-songs-list {
    width: 100%;
    height: auto;
}

.search-list-container {
    height: 75;
    width: 96%;
}

.song-container {
    height: 75vh;
}

.song-image-container {
    height: 100%;
    width: 90;
    border-radius: 30%;
    vertical-align: middle;
}

.song-image {
    height: 50%;
    width: 40%;
}


.song-detail-container {
    height: 90%;
    vertical-align: middle;
}

.song-name-container {
    height: 40%;
    width: 100%;
    vertical-align: middle;
}

.song-menu-container {
    width: 60;
    height: 100%;
    vertical-align: middle;
}

.song-menu {
    height: 22;
    vertical-align: middle;
    horizontal-align: center;
    margin: auto;
}

.song-name {
    font-size: 20%;
    color: #000000;
    font-weight: 500;
}

.artist-name {
    font-size: 15%;
    color: #838383;
    font-weight: 500;
}

.play-icon-container {
    width: 25;
    height: 25;
    background-color: #000000;
    border-radius: 15;
    vertical-align: middle;
}


.search-album-container {
    height: auto;
    width: 100%;
}

.search-album-list {
    width: 100%;
    height: auto;
}

.search-album-name-container {
    height: auto;
    width: 120;
    margin-left: 10;
    margin-top: 10;
}

.search-album-image {
    width: 120vh;
    height: 120vh;
}

.search-album-name {
    height: auto;
    font-size: 15%;
    margin-top: 5;
    color: #000000;
}