.page {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.header-container {
    width: 95%;
    height: 5%;
}

.down-arrow-container {
    width: 15%;
    height: 100%;
    vertical-align: middle;
}

.down-arrow {
    height: 50%;
}

.header-label-container {
    height: 100%;
    width: 70%;
    vertical-align: middle;
}

.header-label {
    font-size: 13%;
    font-weight: 500;
    color: #838383;
    text-align: center;
}

.album-name-container {
    width: 95%;
    height: 5%;
    vertical-align: middle;
}

.album-name {
    font-size: 18%;
    font-weight: 500;
    color: #ff5600;
    text-align: center;
}

.music-image-container {
    width: 95%;
    height: 40%;
    vertical-align: middle;
    margin-top: 3%;
}

.music-image {
    width: 80%;
    height: 90%;
    border-radius: 5;
    border-width: 1;
    border-color: transparent;
}

.song-name-container {
    width: 95%;
    height: 5%;
    margin-top: 3%;
    vertical-align: middle;
}

.song-name {
    font-size: 22%;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

.artist-name-container {
    width: 95%;
    height: 5%;
    vertical-align: middle;
}

.artist-name {
    font-size: 17%;
    color: #838383;
    text-align: center;
}

.music-progress-container {
    width: 95%;
    height: auto;
    margin-top: 2%;
}

.passed-time {
    color: #FF2D55;
    font-size: 11%;
    font-weight: 500;
}

.music-options-container {
    width: 95%;
    height: auto;
    margin-top: 3%;
}

.backward-thirty-container {
    width: 35%;
    height: 80;
    vertical-align: middle;
}

.backward-thirty {
    height: 30;
    horizontal-align: center;
}

.backward-container {
    width: 65%;
    height: 80;
    vertical-align: middle;
}

.backward-icon {
    height: 30;
    horizontal-align: center;
}

.play-pause-container {
    width: 80;
    height: 80;
    background-color: #FFCC26;
    border-radius: 50%;
    vertical-align: middle;
}

.play-pause {
    height: 20;
}

.footer-container {
    width: 100%;
    vertical-align: bottom;
}

.footer-icon-container {
    /* width:20%; */
    height: 70%;
    margin-top: 50%;
    vertical-align: middle;
}

.footer-icon {
    height: 55%;
}