<Page actionBarHidden="true">
    <GridLayout (loaded)="onMainViewLoaded($event)" class="page" rows="auto,auto,auto,auto,auto,auto,auto,*">
        <GridLayout row="0" class="header-container" columns="auto,auto,auto">
            <StackLayout col="0" class="down-arrow-container" (tap)="onDownArrow()">
                <Image class="down-arrow" [src]="downArrow"></Image>
            </StackLayout>
            <StackLayout col="1" class="header-label-container">
                <Label class="header-label" [text]="headerLabel"></Label>
            </StackLayout>
            <StackLayout col="2" class="down-arrow-container">
                <Image class="down-arrow" [src]="menuIcon"></Image>
            </StackLayout>
        </GridLayout>
        <StackLayout row="1" class="album-name-container">
            <Label class="album-name" [text]="albumName"></Label>
        </StackLayout>
        <StackLayout row="2" class="music-image-container">
            <Image class="music-image" [src]="musicImage" stretch="aspectFill"></Image>
        </StackLayout>
        <StackLayout row="3" class="song-name-container">
            <Label class="song-name" [text]="songName | titlecase"></Label>
        </StackLayout>
        <StackLayout row="4" class="artist-name-container">
            <Label class="artist-name" [text]="artistName | titlecase"></Label>
        </StackLayout>
        <GridLayout row="5" class="music-progress-container" rows="auto,auto">
            <StackLayout row="0" width="90%" height="10" marginTop="10" backgroundColor="#FFBFCB" orientation="horizontal" borderRadius="20" (touch)="onProgressTouch($event)" (loaded)="onProgressLoad($event)">
                <StackLayout [width]="(progressValue!=undefined&&progressValue!=null)?(progressValue+'%'):'0%'" height="100%" (touch)="onProgressTouch($event)" backgroundColor="#FF2D55" borderRadius="20">
                </StackLayout>
            </StackLayout>

            <StackLayout row="0" width="20" height="20" marginTop="10" verticalAlignment="middle" [marginLeft]="(progressValue!=undefined&&progressValue!=null)? (progressValue*totalProgressWidth/100)+2:2" horizontalAlignment="left" borderRadius="10" backgroundColor="#FF2D55">
            </StackLayout>

            <StackLayout row="1" width="95%" height="20" marginTop="5" orientation="horizontal">
                <StackLayout width="50%" height="100%" verticalAlignment="middle">
                    <Label #labelPas class="passed-time" [text]="passedTime" textAlignment="left"></Label>
                </StackLayout>
                <StackLayout width="50%" height="100%" verticalAlignment="middle">
                    <Label class="passed-time" [text]="remainingTime" textAlignment="right"></Label>
                </StackLayout>
            </StackLayout>

        </GridLayout>
        <GridLayout row="6" class="music-options-container" columns="*,auto,*">
            <GridLayout col="0" columns="auto,auto">
                <StackLayout col="0" class="backward-thirty-container">
                    <Image class="backward-thirty" [src]="backwardThirty" (tap)="onRewindThirty()"></Image>
                </StackLayout>
                <StackLayout col="1" class="backward-container" (tap)="onRewind()">
                    <Image class="backward-icon" [src]="backwardIcon"></Image>
                </StackLayout>
            </GridLayout>
            <StackLayout col="1" class="play-pause-container">
                <Image *ngIf="!isBuffering && !isSongLoading" class="play-pause" [src]="playPause" (tap)="onPlayPause()"></Image>
                <ActivityIndicator color="#ff5600" *ngIf="isBuffering || isSongLoading" horizontalAlignment="center" verticalAlignment="middle" [busy]="isBuffering || isSongLoading" rowSpan="1" colSpan="1">
                </ActivityIndicator>
            </StackLayout>
            <GridLayout col="2" columns="auto,auto">
                <StackLayout col="0" class="backward-container" (tap)="onForward()">
                    <Image class="backward-icon" [src]="forwardIcon"></Image>
                </StackLayout>
                <StackLayout col="1" class="backward-thirty-container" (tap)="onForwardThirty()">
                    <Image class="backward-thirty" [src]="forwardThirty"></Image>
                </StackLayout>
            </GridLayout>
        </GridLayout>

        <GridLayout row="7" class="footer-container" columns="*,*,*,*,*">
            <StackLayout *ngIf="!isOfflineSong" col="0" class="footer-icon-container" (tap)="onLike()">
                <Image class="footer-icon" [src]=" isLike? likeIcon:unlikeIcon"></Image>
            </StackLayout>
            <StackLayout col="1" class="footer-icon-container" (tap)="onShuffle()">
                <Image class="footer-icon" [src]="isShuffle?shuffleIconRed:shuffleIconBlack"></Image>
            </StackLayout>
            <StackLayout col="2" class="footer-icon-container" (tap)="onRepeat()">
                <Image class="footer-icon" [src]="repeatIcon"></Image>
            </StackLayout>
            <StackLayout col="3" class="footer-icon-container" (tap)="onPlaylist()">
                <Image class="footer-icon" [src]="playlistIcon"></Image>
            </StackLayout>
            <StackLayout *ngIf="!isOfflineSong" col="4" class="footer-icon-container" (tap)="onComments()">
                <Image class="footer-icon" [src]="commentIcon"></Image>
            </StackLayout>
        </GridLayout>
    </GridLayout>
</Page>