.page{
    width:100%;
    height:100%;
}
.app-logo{
    vertical-align: top;
    margin-top: 5%;
    height:22%;
}
.page-heading{
    font-size:22%;
    color:#463939;
    text-align: center;
    margin-top:33%;
    vertical-align: top;
}
.main-container{
    width:100%;
    height:60%;
    vertical-align: bottom;
    background-color: #ff5600;
}
.textfield-container{
    height:35;
    width:80%; 
    background-color: #ffffff;
    border-radius: 20;
    vertical-align:middle;
}
.textfield{
    font-size:14%;
    color:#1d1d1d;
    text-align:center;
    padding:0;
    height:100%;
}
.signup-button-container{
    height:35;
    width:80%; 
    background-color: #ffcc26;
    border-radius: 20;
    vertical-align:middle;
}
.signup-button{
    font-size:14%;
    color:#1d1d1d;
    text-align:center;
}
.signin-container{
    margin-bottom:5%;
    vertical-align: bottom;
}
.signin-label{
    font-size: 14%;
    color:#ffffff;
    text-align: center;
}