/* Add mobile styles for the component here.  */

.page {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 8%;
    /* background-color: #222326; */
}

.search-Layout {
    width: 90%;
    margin-top: 3%;
    vertical-align: middle;
    align-items: center;
}

.back-container {
    width: 100%;
    height: 30;
}

.back-button {
    height: 25;
}

.add-song-text {
    width: 80%;
    text-align: center;
}

.search-feild {
    border-bottom: 0px;
    border-color: transparent;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 100%;
    height: 45;
    font-size: 17px;
    font-weight: 500;
    padding-left: 45;
    padding-right: 20;
    color: #000000;
    margin-top: 20px;
}

::placeholder {
    color: #3a393b;
    font-size: 15px;
    margin: auto;
}

.text-search-icon {
    height: 15;
    margin-left: 20;
    margin-top: 20px;
    z-index: 1;
}

.search-layout {
    height: 100%;
}

.search-icon {
    height: 20%;
    width: 20%;
    margin-top: 30%;
}

.search-text {
    color: #3a393b;
    text-align: center;
}



.search-songs-container {
    height: auto;
    margin-top: 5;
    width: 100%;
}

.search-songs-list {
    width: 100%;
    height: auto;
}

.search-list-container {
    height: 75;
    width: 96%;
}

.song-container {
    height: 75vh;
}

.song-image-container {
    height: 100%;
    width: 100;
    border-radius: 30%;
    vertical-align: middle;
}

.song-image {
    height: 80%;
    width: 70%;
}

.song-detail-container {
    height: 90%;
    vertical-align: middle;
}

.song-name-container {
    height: 40%;
    width: 100%;
    vertical-align: middle;
}

.song-menu-container {
    width: 60;
    height: 100%;
    vertical-align: middle;
}

.song-menu {
    height: 22;
    vertical-align: middle;
    horizontal-align: center;
    margin: auto;
}

.song-name {
    font-size: 20%;
    color: #000000;
    font-weight: 500;
}

.artist-name {
    font-size: 15%;
    color: #838383;
    font-weight: 500;
}

.play-icon-container {
    width: 25;
    height: 25;
    background-color: #000000;
    border-radius: 15;
    vertical-align: middle;
}

.search-album-container {
    height: auto;
    width: 100%;
}

.search-album-list {
    width: 100%;
    height: auto;
}

.search-album-name-container {
    height: auto;
    width: 120;
    margin-left: 10;
    margin-top: 10;
}

.search-album-image {
    width: 120vh;
    height: 120vh;
}

.search-album-name {
    height: auto;
    font-size: 15%;
    margin-top: 5;
    color: #000000;
}

.dialog-container {
    background-color: #ffffff;
    vertical-align: middle;
    width: 90%;
    height: 35%;
    border-radius: 10;
}

.dialog-label {
    width: 80%;
    text-align: left;
    vertical-align: top;
    margin-top: 7%;
    height: 45%;
    font-size: 19;
}

.dialog-btn-container {
    width: 90%;
    vertical-align: bottom;
    horizontal-align: center;
    height: 50%;
}


.buy-btn {
    background-color: #ff5600;
    color: #ffffff;
    border-radius: 10;
    height: 50%;
}

.cancel-btn {
    background-color: #ff5600;
    border-radius: 10;
    height: 50%;
    color: #ffffff;
}