<Page actionBarHidden="true">
    <GridLayout class="page" rows="auto,*">
        <GridLayout row="0" columns="*" rows="auto,auto" class="search-Layout" verticalAlignment="top"
            horizontalAlignment="center">
            <GridLayout columns="auto,*" class="back-container" col="0" ,row="0" orientation="horizontal">
                <Image col="0" class="back-button" [src]="backbtn" (tap)="onBack()"></Image>
                <Label colSpan="2" class="add-song-text" [text]="addSongsText"></Label>
            </GridLayout>
            <Image col="0" row="1" class="text-search-icon" src="res://search_black" horizontalAlignment="left"></Image>
            <TextField col="0" row="1" hint="Search for songs, albums, podcast" class="search-feild" [text]="search"
                returnKeyType="search" (textChange)="onTextChange($event)" verticalAlignment="middle"
                horizontalAlignment="center" textWrap="false">
            </TextField>
        </GridLayout>

        <StackLayout row="1" class="search-songs-container" tkExampleTitle tkToggleNavButton>
            <RadListView [items]="searchSongResult" class="list" backgroundColor="#ffffff">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template tkListItemTemplate let-item="item" let-i="index">
                    <GridLayout class="song-container" columns="auto,*,auto">
                        <StackLayout col="0" class="song-image-container">
                            <Image radius="10" [src]="item.image" class="song-image"></Image>
                        </StackLayout>
                        <StackLayout col="1" class="song-detail-container" orientation="vertical"
                            (tap)="onSearchSongs(item,i)">
                            <Label class="song-name" [text]="item.name | titlecase"></Label>
                            <Label class="song-views" [text]="item.artist | titlecase"></Label>
                        </StackLayout>
                        <StackLayout *ngIf="from == 'playlist'" col="2" class="song-menu-container"
                            (tap)="onAdd(item,i)">
                            <Image [src]="addButton" class="song-menu"></Image>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>

        </StackLayout>

        <GridLayout rowSpan="2" #songBuyDialog modal size="md" dismissable="true" duration="100">
            <StackLayout class="dialog-container" orientation="vertical">
                <StackLayout>
                    <Label [text]="dialogText" class="dialog-label"></Label>
                </StackLayout>
                <StackLayout class="dialog-btn-container" orientation="horizontal">
                    <Button class="cancel-btn" text="Cancel" (tap)="onCancel()"></Button>
                    <Button class="buy-btn" text="Buy" (tap)="buySong()"></Button>
                </StackLayout>

            </StackLayout>
        </GridLayout>
        <GridLayout *ngIf="!isRendering" rowSpan="2" width="100%" height="100%" backgroundColor="transparent">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

    </GridLayout>

    
</Page>