.page {
    width: 100%;
    height: 100%;
}

.main-container {
    width: 100%;
    height: auto;
    vertical-align: top;
    background-color: #ff5600;
}

.concert-name {
    width: 95%;
    color: #ffffff;
    font-size: 30%;
    font-weight: 500;
    text-align: center;
    margin-top: 2%;
}

.artist-name {
    width: 95%;
    color: #212121;
    font-size: 16%;
    font-weight: 500;
    text-align: right;
}

.heading-container {
    width: auto;
    horizontal-align: center;
    margin-top: 1%;
}

.heading-star {
    color: #FFC521;
}

.heading {
    color: #ffffff;
    text-align: center;
    font-size: 18%;
    font-weight: 500;
}

.venue-detail {
    width: 95%;
    color: #212121;
    font-size: 16%;
    font-weight: 500;
    text-align: center;
}

.date-time-detail {
    width: 95%;
    color: #212121;
    font-size: 16%;
    font-weight: 500;
    text-align: center;
}

.ticket-price {
    width: 95%;
    color: #FFC521;
    font-size: 20%;
    font-weight: 500;
    text-align: center;
}

.ticket-buy-button {
    width: 70%;
    height: 40;
    margin-top: 2%;
    color: #212121;
    border-radius: 20;
    padding: 0;
    font-weight: 500;
    font-size: 18%;
    background: linear-gradient(-45deg, #ffc521, #ffffff);
}

.ticket-buy-button:highlighted {
    background: linear-gradient(-45deg, #ffffff, #ffc521);
    color: #ff5600;
}

.close-button {
    width: 95%;
    font-size: 16%;
    color: #212121;
    font-weight: bold;
    text-decoration: underline;
    margin: 2% 0 2% 0;
    text-align: center;
    background-color: transparent;
    z-index: 0;
}

.close-button:highlighted {
    color: #ffffff;
}

.stock-label {
    width: 95%;
    color: #212121;
    font-size: 18%;
    font-weight: 500;
    text-align: center;
    margin: 10 0 0 0;
}

.ticket-quantity-container {
    width: 95%;
    height: auto;
    margin-top: 10;
}

.ticket-quantity-heading {
    width: 50%;
    font-size: 18%;
    font-weight: 500;
    color: #ffffff;
    vertical-align: middle;
}

.plus-minus-button {
    width: 5%;
    height: auto;
}

.ticket-quantity {
    width: 20%;
    font-size: 18%;
    font-weight: 500;
    color: #212121;
    border-color: transparent;
    text-align: center;
}