<GridLayout class="page">
    <GridLayout class="main-container" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">
        <Label row="0" class="concert-name" textWrap="true" [text]="concertName |titlecase"></Label>
        <Label row="1" class="artist-name" [text]="'Featuring '+artistName |titlecase"></Label>
        <GridLayout row="2" class="heading-container" columns="auto,auto,auto">
            <Label col="0" class="heading-star" text="* "></Label>
            <Label col="1" class="heading" [text]="venueHeading"></Label>
            <Label col="2" class="heading-star" text=" *"></Label>
        </GridLayout>
        <Label row="3" class="venue-detail" textWrap="true" [text]="venueDetail"></Label>
        <GridLayout row="4" class="heading-container" columns="auto,auto,auto">
            <Label col="0" class="heading-star" text="* "></Label>
            <Label col="1" class="heading" [text]="dateTimeHeading"></Label>
            <Label col="2" class="heading-star" text=" *"></Label>
        </GridLayout>
        <!-- <Label row="5" class="date-time-detail" textWrap="true" [text]="dateTimeDetail |date:'EEEE' |uppercase"></Label> -->
        <Label row="5" class="date-time-detail" textWrap="true">
            <FormattedString row="0" class="event-time">
                <Span [text]="dateTimeDetail |date:'EEEE' |uppercase" fontWeight="500"></Span>
                <Span [text]="' | '"></Span>
                <Span [text]="dateTimeDetail |date:'shortTime' | uppercase"
                    fontWeight="500"></Span>
                <Span [text]="dateTimeDetail |date:' MMM dd, yyyy' | uppercase"
                    fontWeight="500"></Span>   
            </FormattedString>
        </Label>
        <GridLayout row="6" class="heading-container" columns="auto,auto,auto">
            <Label col="0" class="heading-star" text="* " marginLeft="10%"></Label>
            <Label col="1" class="heading" [text]="ticketPriceHeading"></Label>
            <Label col="2" class="heading-star" text=" *"></Label>
        </GridLayout>
        <Label row="7" class="ticket-price" [text]="'$'+ticketPrice+' per person'"></Label>
        <StackLayout row="8" class="ticket-quantity-container" orientation="horizontal">
            <Label class="ticket-quantity-heading" [text]="ticketQuantityHeading"></Label>
            <Image class="plus-minus-button" [src]="minusButton" (tap)="onMinusTicket()"></Image>
            <TextField class="ticket-quantity" [text]="ticketQuantity"></TextField>
            <Image class="plus-minus-button" [src]="plusButton" (tap)="onPlusTicket()"></Image>
        </StackLayout>
        <Button *ngIf="inStock" row="9" class="ticket-buy-button" [text]="ticketBuyButton" (tap)="onBuyTicket()"></Button>
        <Label *ngIf="!inStock" row="10" class="stock-label" [text]="stockLabel"></Label>
        <Button row="11" class="close-button" [text]="closeLabel" (tap)="onClose()"></Button>
    </GridLayout>
    <GridLayout *ngIf="isLoading" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</GridLayout>