<GridLayout class="page">
    <Image class="app-logo" [src]="appLogo"></Image>
    <Label class="page-heading" [text]="pageHeading"></Label>
    <GridLayout class="main-container" rows="auto,auto,auto,auto,auto,*">
        <StackLayout row="0" class="textfield-container" marginTop="10%">
            <TextField class="textfield" [hint]="currentPasswordHint" borderColor="transparent"
                backgroundColor="transparent" secure="true" (textChange)="onCurrentTextChange($event)">
            </TextField>
        </StackLayout>
        <StackLayout row="1" class="textfield-container" marginTop="5%">
            <TextField class="textfield" [hint]="newPasswordHint" borderColor="transparent"
                backgroundColor="transparent" secure="true" (textChange)="onNewTextChange($event)">
            </TextField>
        </StackLayout>
        <StackLayout row="3" class="textfield-container" marginTop="5%">
            <TextField class="textfield" [hint]="cnfPasswordHint" borderColor="transparent"
                backgroundColor="transparent" secure="true" (textChange)="onCnfTextChange($event)">
            </TextField>
        </StackLayout>
        <StackLayout row="4" class="signin-button-container" marginTop="5%" (tap)="onSigninButton()">
            <Label class="signin-button" [text]="signinButton"></Label>
        </StackLayout>

        <GridLayout row="5" class="forgot-password-container">
            <Label class="forgot-password" [text]="backHeading" (tap)="onBack()"></Label>
        </GridLayout>
    </GridLayout>
    <GridLayout #errorDialog width="80%" height="30%" borderRadius="10" modal size="lg">

        <Label class="text-center" [text]="errorText" textWrap="true" fontWeight="500" color="white"
            fontSize="18%"></Label>

        <Button class="transparent-button" alignSelf="center" marginTop="15%" height="20%" width="40%" text="OK"
            (tap)="onErrorOKTap($event)" marginBottom="4" fontWeight="600"></Button>

    </GridLayout>
</GridLayout>