.page{
    width:100%;
    height:100%;
}
.app-logo{
    vertical-align: top;
    margin-top: 5%;
    height:22%;
}
.page-heading{
    font-size:22%;
    color:#463939;
    text-align: center;
    margin-top:33%;
    vertical-align: top;
}
.main-container{
    width:100%;
    height:60%;
    vertical-align: bottom;
    background-color: #ff5600;
}
.textfield-container{
    height:35;
    width:80%; 
    background-color: #ffffff;
    border-radius: 20;
    vertical-align:middle;
}
.textfield{
    font-size:14%;
    color:#1d1d1d;
    text-align:center;
    padding:0;
    height:100%;
}
.signin-button-container{
    height:35;
    width:80%; 
    background-color: #ffcc26;
    border-radius: 20;
    vertical-align:middle;
}
.signin-button{
    font-size:14%;
    color:#1d1d1d;
    text-align:center;
}
.or-container{
    height:40;
    width:70%; 
    margin-top: 5%;
}
.orlabel-class{
    font-size:20%;
    color:#e6e6e6;
    text-align:center;
}
.social-container{
    height:auto;
    width:80%;
    margin-top: 5%;
}
.social-logo-container{
    width:33.33%;
    height:40;
}
.social-logo{
    height:100%;
}
.forgot-password-container{
    vertical-align:bottom;
    margin-bottom:5%;
}
.forgot-password{
    font-size: 14%;
    color:#ffffff;
    text-align: center;
}