<GridLayout class="page">
    <Image class="app-logo" [src]="appLogo"></Image>
    <Label class="page-heading" [text]="pageHeading"></Label>
    <GridLayout class="main-container" rows="auto,auto,auto,auto,*">
        <StackLayout row="0" class="textfield-container" [marginTop]="isForgotPassword?'15%':'30%'">
            <TextField class="textfield" [hint]="otpHint" borderColor="transparent" backgroundColor="transparent"
                keyboardType="number" (textChange)="onOtpTextChange($event)">
            </TextField>
        </StackLayout>
        <StackLayout *ngIf="isForgotPassword" row="1" class="textfield-container" marginTop="5%">
            <TextField class="textfield" [hint]="passwordHint" borderColor="transparent" backgroundColor="transparent"
                secure="true" (textChange)="onPasswordTextChange($event)">
            </TextField>
        </StackLayout>
        <StackLayout *ngIf="isForgotPassword" row="2" class="textfield-container" marginTop="5%">
            <TextField class="textfield" [hint]="confirmPasswordHint" borderColor="transparent"
                backgroundColor="transparent" secure="true" (textChange)="onConfirmPasswordTextChange($event)">
            </TextField>
        </StackLayout>
        <StackLayout row="3" class="submit-button-container" marginTop="5%" (tap)="onSubmitButton()">
            <Label class="submit-button" [text]="submitButton"></Label>
        </StackLayout>
        <GridLayout row="4" class="signin-container">
            <!-- <Label class="signin-label" [text]="signIn" (tap)="onSignin()"></Label>  -->
        </GridLayout>
    </GridLayout>
    <GridLayout #errorDialog width="80%" height="30%" borderRadius="10" modal size="lg">

        <Label class="text-center" [text]="errorText" textWrap="true" fontWeight="500" color="white"
            fontSize="18%"></Label>

        <Button class="transparent-button" alignSelf="center" marginTop="15%" height="20%" width="40%" text="OK"
            (tap)="onErrorOKTap($event)" marginBottom="4" fontWeight="600"></Button>

    </GridLayout>
    <GridLayout *ngIf="isLoading" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</GridLayout>