<Page actionBarHidden="true">
    <GridLayout class="page">
        <ScrollView width="100%" height="100%" verticalAlignment="top">
            <StackLayout width="100%" height="auto">
                <GridLayout class="main-container" verticalAlignment="top"
                    rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">
                    <StackLayout row="0" class="page-heading-container">
                        <Label class="page-heading" [text]="pageHeading"></Label>
                    </StackLayout>
                    <StackLayout row="1" class="profile-name-container">
                        <Label class="profile-name" [text]="profileName"></Label>
                    </StackLayout>
                    <StackLayout row="2" class="profile-name-container">
                        <Label class="plan-name" [text]="planName | titlecase"></Label>
                    </StackLayout>
                    <StackLayout row="3" class="grand-total-container" orientation="horizontal">
                        <Label class="grand-total-heading" [text]="grandTotalHeading"></Label>
                        <Label class="grand-total" [text]="'$'+grandTotal"></Label>
                    </StackLayout>
                    <StackLayout row="4" class="profile-name-container">
                        <Label class="make-payment" [text]="makePaymentHeading"></Label>
                    </StackLayout>
                    <StackLayout row="5" class="add-card-container" orientation="vertical">
                        <StackLayout class="payment-card-container" orientation="horizontal">
                            <Image class="card-icon" [src]="appleCardIcon"></Image>
                            <Label class="add-card-heading" [text]="stripeHeading"></Label>
                            <Image class="next-icon" [src]="nextIcon"></Image>
                        </StackLayout>
                        <StackLayout width="90%" height="1" backgroundColor="#C7C7C7"></StackLayout>
                    </StackLayout>
                    <StackLayout row="6" class="make-payment-container">
                        <Button class="make-payment-button" [text]="makePaymentButton" (tap)="onMakePayment()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</Page>