.page{
    width:100%;
    height:100%;
    background-color: #ffffff;
}
.footer-container{
    width:100%;
    height:8%;
    vertical-align: bottom;
}
.main-container{
    width:100%;
    height:auto;
    background-color: #ffffff;
}
.page-heading-container{
    height:auto;
    width:95%;
    vertical-align: middle;
    margin-top:10;
}
.page-heading{
    font-size: 32%;
    color:#ff5600;
    font-weight: 500;
}
.profile-name-container{
    height:auto;
    width:95%;
    vertical-align: middle;
    margin-top:10;
}
.profile-name{
    font-size: 24%;
    color:#1d1d1d;
}
.plan-name{
    font-size: 18%;
    color:#ff5600;
}
.grand-total-container{
    height:auto;
    width:95%;
    vertical-align: middle;
    margin-top:10;  
    background-color: #F7F7F7;
    border-radius: 5; 
}
.grand-total-heading{
    font-size: 16%;
    color:#474261;
    font-weight: 500;
    margin-top: 5;
    margin-bottom: 5;
    margin-left: 5%;
    width:75%;
}
.grand-total{
    font-size: 16%;
    color:#474261;
    font-weight: 500;
    margin-top: 5;
    margin-bottom: 5;
    width:20%;
    text-align: center;
}
.make-payment{
    font-size: 18%;
    color:#ff5600;
}
.payment-cards{
    font-size: 12%;
    color:#333333;
    margin-left: 5%;
}
.payment-heading-container{
    height:auto;
    width:95%;
    vertical-align: middle;
    margin-top:15;
}
.add-card-container{
    width:100%;
    height:auto;
    border-color: #C7C7C7;
    border-width: 1;
    margin-top: 10;
}
.card-icon{
    width:10%;
    height:20;
    margin-left: 2%;
    margin-top: 10;
    margin-bottom: 10;
}
.add-card-heading{
    width:74%;
    margin-left: 2%;
    font-size: 16%;
    color:#333333;
    vertical-align: middle;
    margin-top: 10;
    margin-bottom: 10;
}
.next-icon{
    width:10%;
    height:10;
    margin-left: 2%;
    margin-top: 10;
    margin-bottom: 10;
}
.payment-card-container{
    width:100%;
    height:auto;
}
.paypal-icon{
    height:20;
    margin-left:5%;
    margin-bottom: 10;
    margin-top: 10;
}
.make-payment-container{
    width:100%;
    height:auto;
    margin-top: 20;
}
.make-payment-button{
    width:80%;
    height:40;
    background-color:#FFCC26 ;
    color:#ffffff;
    font-size:16%;
    border-radius: 20;
    z-index:1;
    padding:0;
}