<Page actionBarHidden="true">

    <GridLayout *ngIf="isRendering" class="page">
        <ScrollView width="100%" height="82%" verticalAlignment="top">
            <StackLayout width="100%" height="auto">
                <GridLayout class="main-container" verticalAlignment="top" rows="auto,auto,auto,auto,auto,auto">
                    <StackLayout row="0" class="page-heading-container">
                        <Label class="page-heading" [text]="pageHeading"></Label>
                    </StackLayout>
                    <StackLayout row="1" class="profile-detail-container" orientation="vertical"
                        (tap)="showChooseDialog()">
                        <GridLayout class="profile-pic-container">
                            <Image class="profile-pic" id="img" [src]="profilePic?profilePic:'res://user'"></Image>
                        </GridLayout>
                        <StackLayout class="profile-name-container">
                            <TextField class="profile-name" [hint]="nameHint" [text]='profileName' secure="false"
                                returnKeyType="done" maxLength="50" placeholder-color="#a1a1a1"
                                (textChange)="onNameChange($event)">
                            </TextField>
                        </StackLayout>

                    </StackLayout>
                    <StackLayout row="2" class="profile-container" (tap)="onSave()">
                        <Button class="save-btn" mat-button [text]="submitText" horizontalAlignment="center"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>

        <GridLayout #photoUploadDialog modal size="md" dismissable="true" duration="100">
            <StackLayout borderRadius="10" height="30%" width="80%" backgroundColor="white" orientation="vertical">
                <Button class="photoUploadButton" width="70%" text="Gallery" (tap)="onGallery()"></Button>
                <Button class="photoUploadButton" width="70%" text="Camera" (tap)="onCamera()"></Button>
            </StackLayout>
        </GridLayout>

    </GridLayout>

    <GridLayout *ngIf="!isRendering" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>

</Page>