.page {
  background-size: cover;
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
}
.music-image-container {
  width: 20%;
  height: 100%;
  vertical-align: middle;
}
.music-image {
  height: 80%;
}
.music-detail-container {
  width: 65%;
  height: 100%;
}
.music-name-container {
  height: 50%;
  vertical-align: middle;
}

.music-name {
  font-size: 17%;
  font-weight: 500;
  color: #000000;
}

.music-artist {
  height: 90%;
  font-size: 13%;
  color: #000000;
}
.music-playpause-container {
  width: 15%;
  height: 100%;
  vertical-align: middle;
}
.music-playpause {
  height: 40%;
}
