<Page actionBarHidden="true">
    <GridLayout class="page" columns="auto,auto,auto">
        <StackLayout col="0" class="music-image-container" (tap)="onPlayer()">
            <Image class="music-image" [src]="musicImage"></Image>
        </StackLayout>
        <StackLayout col="1" class="music-detail-container" orientation="vertical" (tap)="onPlayer()">
            <StackLayout class="music-name-container">
                <Label class="music-name" [text]="musicName | titlecase"></Label>
            </StackLayout>
            <StackLayout class="music-name-container">
                <Label class="music-artist" [text]="musicArtist | titlecase"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout col="2" class="music-playpause-container">
            <Image *ngIf="!isBuffering && ! isSongLoading" class="music-playpause" [src]="playPause"
                (tap)="onPlayPause()"></Image>
            <ActivityIndicator color="#ff5600" *ngIf="isBuffering || isSongLoading" horizontalAlignment="center"
                verticalAlignment="middle" [busy]="isBuffering || isSongLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </StackLayout>
    </GridLayout>
    <!-- <GridLayout *ngIf="isLoading" width="100%" height="100%" backgroundColor="white">
        <ActivityIndicator horizontalAlignment="center" color="red" verticalAlignment="middle" width="100%"
            height="100%" [busy]="!isLoading" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->
</Page>