<GridLayout class="page">
    <GridLayout class="main-container" rows="auto,auto,*">
        <StackLayout row="0" class="app-logo-container">
            <Image class="app-logo" [src]="appLogo"></Image>
        </StackLayout>
        <GridLayout row="1" class="buttons-container" columns="auto,auto">
            <StackLayout col="0" class="button-container">
                <Button class="signin-button" [text]="signinButton" (tap)="onSigninButton()"></Button>
            </StackLayout>
            <StackLayout col="1" class="button-container">
                <Button class="signup-button" [text]="signupButton" (tap)="onSignupButton()"></Button>
            </StackLayout>
        </GridLayout>
        <StackLayout row="3" width="95%" verticalAlignment="bottom">
            <Label class="rights-label" [text]="rightsLabel"></Label>
        </StackLayout>
    </GridLayout>
</GridLayout>