.page{
    width:100%;
    height:100%;
}
.main-container{
    width:100%;
    height:100%;
}
.app-logo-container{
    height:50%;
    width:100%;
    vertical-align: bottom;
}
.app-logo{
    height:40%;
}
.buttons-container{
    height:auto;
    width:80%;
}
.button-container{
    width:50%;
    height:auto;
}
.signin-button{
    width:80%;
    height:40;
    background-color: #ff5600;
    color:#ffffff;
    font-size: 14%;
    padding:0;
    z-index:1;
    border-radius: 20;
}
.signup-button{
    width:80%;
    height:40;
    background-color: #ffffff;
    color:#1d1d1d;
    font-size: 14%;
    padding:0;
    z-index:1;
    border-radius: 20;
    border-width: 1;
    border-color: #ff5600;
}
.rights-label{
    text-align: center;
    font-size: 12%;
    color:#000000;
}