<Page actionBarHidden="true">
    <GridLayout *ngIf="isRendering" class="page">
        <ScrollView width="100%" height="100%" verticalAlignment="top">
            <StackLayout class="main-container" width="100%" height="auto">
                <StackLayout row="0" class="page-heading-container">
                    <Label class="page-heading" [text]="pageHeading"></Label>
                </StackLayout>
                <GridLayout *ngFor="let subscription of subscriptionList;let i = 'index'" row="1"
                    class="subscription-card" [backgroundColor]="i == 0?'#FFCC26':i==1?'#FFA226':'#FF5600'"
                    columns="auto,auto">
                    <StackLayout col="0" class="plan-container" orientation="vertical">
                        <Label class="plan-time" [text]="subscription.name | titlecase"></Label>
                        <Label class="plan-heading" textWrap="true" [text]="planHeading"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="price-container" orientation="vertical">
                        <Label class="price" [text]="'$ '+subscription.price"></Label>
                        <Label class="buy-button" [text]="buyButton" (tap)="buyPlan(subscription)"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <GridLayout *ngIf="!isRendering" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</Page>