.page{
    width:100%;
    height:100%;
    background-color: #ffffff;
}
.footer-container{
    width:100%;
    height:8%;
    vertical-align: bottom;
}
.player-container{
    background-color:#f7f7f7;
    height:10%;
    vertical-align:bottom;
    margin-bottom:8%;
}
.main-container{
    width:100%;
    height:auto;
    background-color: #ffffff;
}
.page-heading-container{
    height:auto;
    width:95%;
    vertical-align: middle;
    margin-top:10;
}
.page-heading{
    font-size: 32%;
    color:#ff5600;
    font-weight: 500;
}
.subscription-card{
    width:90%;
    height:auto;
    border-radius:10;
    margin-top:15;
}
.plan-container{
    height:auto;
    width:60%;
}
.plan-time{
    margin-top: 10;
    margin-left:10;
    color:#000000;
    font-size: 28%;
    font-weight:500;
}
.plan-heading{
    margin-top: 10;
    margin-bottom:10;
    margin-left:10;
    color:#000000;
    font-size: 14%;
    font-weight:500;
    
}
.price-container{
    width:40%;
    height:auto;
}
.price{
    width:100%;
    text-align: center;
    font-weight:500;
    font-size:38%;
    margin-top: 15;
    color:#ffffff;
}
.buy-button{
    width:60%;
    margin-top: 10;
    margin-bottom: 15;
    border-radius:30;
    background-color: #FFE693;
    font-size:14%;
    color:#000000;
    text-align: center;
}