<Page actionBarHidden="true">
    <GridLayout *ngIf="isRendering && isInternetConnection" class="page" rows="*">
        <ScrollView width="100%" row="0" *ngIf="isInternetConnection && isLogin">
            <StackLayout width="100%" height="auto">
                <GridLayout class="main-container" verticalAlignment="top" rows="auto,auto,auto,auto,auto,auto,auto">
                    <StackLayout row="0" class="page-heading-container">
                        <Label class="page-heading" [text]="pageHeading"></Label>
                    </StackLayout>
                    <StackLayout row="1" class="profile-detail-container" orientation="vertical">
                        <GridLayout class="profile-pic-container">
                            <Image class="profile-pic" [src]="profilePic"></Image>
                        </GridLayout>
                        <StackLayout class="profile-name-container">
                            <Label class="profile-name" [text]="profileName | titlecase"></Label>
                        </StackLayout>
                        <!-- <StackLayout class="subscription-plan-container">
                            <Label class="subscription-plan" [text]="subscriptionPlan == 'none'?'No Subscription':subscriptionPlan| titlecase"></Label>
                        </StackLayout> -->
                    </StackLayout>
                    <StackLayout row="2" class="profile-container" orientation="horizontal" (tap)="onProfileMenu()">
                        <Label class="profile-heading" [text]="profileHeading"></Label>
                    </StackLayout>
                    <!-- <StackLayout row="3" class="profile-container" orientation="horizontal" (tap)="onPurchasedTickets()">
                        <Label class="profile-heading" [text]="purchasedTicketsHeading"></Label>
                    </StackLayout>
                    <StackLayout row="4" class="profile-container" orientation="horizontal" (tap)="onSubscriptionMenu()">
                        <Label class="profile-heading" [text]="subscriptionPlanHeading"></Label>
                    </StackLayout> -->
                    <StackLayout row="5" class="profile-container" orientation="horizontal" (tap)="onSettingsMenu()">
                        <Label class="profile-heading" [text]="settingsHeading"></Label>
                    </StackLayout>
                    <StackLayout row="6" class="profile-container" orientation="horizontal" (tap)="onAboutMenu()">
                        <Label class="profile-heading" [text]="aboutAppHeading"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
        <StackLayout width="100%" verticalAlignment="middle">
            <Label *ngIf="!isInternetConnection" class="internet-message" textWrap="true" [text]="internetMessage"></Label>
        </StackLayout>
        <StackLayout *ngIf="!isLogin && isInternetConnection" width="100%" verticalAlignment="middle">
            <Label  class="login-message" verticalAlignment="middle" textWrap="true" text="Please login to see you account"></Label>
            <Button class="login-button" verticalAlignment="middle" textWrap="true" text="Login" (tap)="onLogin()"></Button>
        </StackLayout>
    </GridLayout>

    <StackLayout *ngIf="!isInternetConnection" width="100%" verticalAlignment="middle" orientation="vertical">
        <Image class="wifi-off-icon" [src]="wifiOffIcon"></Image>
        <Label class="internet-message" textWrap="true" [text]="internetMessage"></Label>
        <Button class="try-again-button" text="TRY AGAIN" (tap)="onTryAgain()"></Button>
    </StackLayout>

    <GridLayout *ngIf="!isRendering" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</Page>