.page {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.footer-container {
    width: 100%;
    height: 8%;
    vertical-align: bottom;
}

.player-container {
    width: 100%;
    height: 8%;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.main-container {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.page-heading-container {
    height: auto;
    width: 95%;
    vertical-align: middle;
    margin-top: 10;
}

.page-heading {
    font-size: 32%;
    color: #ff5600;
    font-weight: 500;
}

.profile-detail-container {
    width: 100%;
    height: auto;
    margin-top: 10;
}

.profile-pic-container {
    height: 136vh;
    width: 136vh;
    margin-top: 10;
    background-color: #ffcc26;
    border-radius: 68vh;
    border-color: #feefbd;
    border-width: 5;
}

.profile-pic {
    width: 100vh;
    height: 100vh;
    border-radius: 68vh;
}

.profile-name-container {
    width: 95%;
    height: auto;
}

.profile-name {
    margin-top: 10;
    font-size: 24%;
    color: #1d1d1d;
    font-weight: 500;
    text-align: center;
}

.subscription-plan-container {
    width: 95%;
    height: auto;
}

.subscription-plan {
    margin-top: 10;
    font-size: 14%;
    color: #ff5600;
    font-weight: 500;
    text-align: center;
}

.profile-container {
    height: auto;
    width: 90%;
}

.profile-heading {
    width: 85%;
    height: auto;
    margin-top: 25;
    color: #838383;
    font-size: 18%;
    font-weight: 500;
}

.profile-menu {
    width: 15%;
    height: 20vh;
    margin-top: 25;
}

.login-button{
    width: 40%;
    height: 40;
    border-radius: 20;
    background-color: #ff5600;
    color: #ffffff;
    font-size: 14%;
    font-weight: 500;
    border-width: 1;
    border-color: #ff5600;
    padding: 0;
    margin-top: 20;
}
.login-button:highlighted {
    color: #ff5600;
    background-color: white;
    border-color: #ff5600;
}

.login-message{
    text-align: center;
    margin: 20 0;
}

.internet-message {
    width: 90%;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    font-size: 18%;
    font-weight: 500;
}

.wifi-off-icon {
    width: 10%;
}

.try-again-button {
    width: 40%;
    height: 40;
    border-radius: 20;
    background-color: #ff5600;
    color: #ffffff;
    font-size: 14%;
    font-weight: 500;
    border-width: 1;
    border-color: #ff5600;
    padding: 0;
    margin-top: 20;
}

.try-again-button:highlighted {
    color: #ff5600;
    background-color: white;
    border-color: #ff5600;
}