<GridLayout rows="*">
    <GridLayout row="0" class="page">
        <GridLayout width="100%" height="100%" rows="auto,auto,auto">

            <GridLayout *ngIf="showThumb" row="0" class="main-detail-container" backgroundColor="transparent">
                <Image height="100%" width="100%" stretch="fill" [src]="albumImage"></Image>
            </GridLayout>

            <GridLayout row="0" *ngIf="showThumb" class="main-detail-container" rows="auto,*" columns="40,*,40">
                <StackLayout row="0" col="0" class="back-button-container" (tap)="onBack()">
                    <Image class="back-button" [src]="backButton"></Image>
                </StackLayout>
                <StackLayout row="0" col="1"></StackLayout>
                <StackLayout *ngIf="isLibrary" row="0" col="2" class="add-button-container" (tap)="onAddSongs()">
                    <Image class="add-button" [src]="addButton"></Image>
                </StackLayout>
                <GridLayout row="1" colSpan="3" class="mainsong-detail-container">
                    <StackLayout height="auto" width="100%" orientation="vertical">
                        <Label class="mainsong-name" [text]="albumName | titlecase"></Label>
                        <!-- <StackLayout *ngIf="isBuy && price" class="price-label-container" (tap)="onBuy()">
                            <Label class="price-label" [text]="'Buy $'+price"></Label>
                        </StackLayout> -->
                    </StackLayout>
                </GridLayout>
            </GridLayout>

            <GridLayout *ngIf="!showThumb" row="0" class="main-detail-container" backgroundColor="transparent">
                <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!showThumb"
                    rowSpan="1" colSpan="1">
                </ActivityIndicator>
            </GridLayout>

            <StackLayout row="1" class="heading-container">
                <Label class="heading" [text]="heading"></Label>
            </StackLayout>

            <GridLayout *ngIf="!isLoadingSongs" row="2" class="songs-list-container">
                <RadListView *ngIf="hasSongs" [items]="songs" class="list" backgroundColor="#ffffff">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template tkListItemTemplate let-item="item" let-i="index">
                        <GridLayout class="song-container" columns="auto,auto,auto">
                            <StackLayout col="0" class="song-image-container" (tap)="onSong(item,i)">
                                <Image radius="10" [src]="item.image" class="song-image"></Image>
                            </StackLayout>
                            <StackLayout col="1" class="song-detail-container" orientation="vertical"
                                (tap)="onSong(item,i)">
                                <Label class="song-name" [text]="item.name | titlecase"></Label>
                                <Label class="song-views" [text]="item.artist | titlecase"></Label>
                            </StackLayout>
                            <StackLayout *ngIf="this.isBuy" col="2" class="song-remove-container">
                                <Image [src]="songMenu" class="song-remove"></Image>
                            </StackLayout>
                            <StackLayout *ngIf="this.isLibrary" col="2" class="song-menu-container"
                                (tap)="onRemove(item)">
                                <Image [src]="removeIcon" class="song-menu"></Image>
                            </StackLayout>

                        </GridLayout>
                    </ng-template>
                </RadListView>
                <StackLayout *ngIf="!hasSongs" class="add-label-container">
                    <!-- <Button mat-button class="add-button" [text]="addButtonText" (tap)="onAddSongs()"> </Button> -->
                    <Label class="add-label" [text]="noSongsAdded"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout *ngIf="isLoadingSongs" row="2" class="songs-list-container">
                <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoadingSongs"
                    rowSpan="1" colSpan="1">
                </ActivityIndicator>
            </GridLayout>
        </GridLayout>
        <GridLayout class="play-button-container" (tap)="onPlayTap()">
            <Image class="play-button" [src]="playButton"></Image>
        </GridLayout>
    </GridLayout>
    <GridLayout #songBuyDialog modal size="md" dismissable="true" duration="100">
        <StackLayout class="dialog-container" orientation="vertical">
            <StackLayout>
                <Label [text]="dialogText" class="dialog-label"></Label>
            </StackLayout>
            <StackLayout class="dialog-btn-container" orientation="horizontal">
                <Button class="cancel-btn" text="Cancel" (tap)="onCancel()"></Button>
                <Button class="buy-btn" text="Buy" (tap)="buySong()"></Button>
            </StackLayout>

        </StackLayout>
    </GridLayout>
</GridLayout>
<!-- <GridLayout *ngIf="!isRendering" width="100%" height="100%" backgroundColor="transparent">
    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
        colSpan="1">
    </ActivityIndicator>
</GridLayout> --> 