.page {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.player-container {
    width: 100%;
    height: 8%;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.main-detail-container {
    width: 100%;
    height: 40%;
    /* background-image:  url("~/assets/musicimage.png"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.back-button-container {
    height: 40;
    width: 40;
    border-radius: 20;
    background-color: #1d1d1d;
    margin-left: 3%;
    margin-top: 5%;
    vertical-align: middle;
    horizontal-align: left;
}

.back-button {
    height: 15;
    horizontal-align: center;
}

.add-button-container {
    height: 40;
    width: 40;
    border-radius: 20;
    background-color: #1d1d1d;
    margin-right: 3%;
    margin-top: 5%;
    vertical-align: middle;
    horizontal-align: right;
}

.add-button {
    height: 20;
    width: 20;
    horizontal-align: center;
}



.mainsong-detail-container {
    width: 95%;
    vertical-align: bottom;
    margin-bottom: 10;
}

.songartist-name {
    font-size: 15%;
    color: #ffffff;
}

.mainsong-name {
    font-size: 34%;
    color: #ffffff;
    font-weight: 500;
}

.price-label-container {
    height: auto;
    width: 25%;
    background-color: #FFCC26;
    border-radius: 20;
    padding: 0;
    horizontal-align: left;
}

.price-label {
    font-size: 14%;
    color: #000000;
    text-align: center;
}

.play-button-container {
    height: 100;
    width: 100;
    border-radius: 50;
    background-color: #ff5600;
    margin-top: 35%;
    margin-right: 5%;
    vertical-align: top;
    horizontal-align: right;
}

.play-button {
    width: 30;
    height: 30;
    vertical-align: middle;
    horizontal-align: center;
}

.heading-container {
    height: 5%;
    width: 95%;
    vertical-align: middle;
}

.heading {
    font-size: 20%;
    font-weight: 500;
    columns: #000000;
}

.songs-list-container {
    width: 100%;
    height: 55%;
}

.song-container {
    width: 100%;
    height: 60;
    margin-top: 20;
}

.song-image-container {
    width: 20%;
    height: 100%;
}

.song-image {
    width: 80%;
    height: 100%;
}

.song-detail-container {
    width: 70%;
    height: 100%;
}

.song-name {
    height: 60%;
    width: 100%;
    font-weight: 500;
    font-size: 20%;
    columns: #000000;
}

.song-views {
    height: 40%;
    width: 100%;
    font-size: 15%;
    columns: #838383;
}

.song-menu-container {
    height: 100%;
    width: 10%;
    vertical-align: middle;
}

.song-menu {
    height: 40%;
}

.song-remove-container {
    height: 100%;
    width: 15%;
    margin-right: 10px;
    vertical-align: middle;

}

.song-remove {
    height: 40%;

}

.add-label-container {
    height: 20%;
    width: 100%;
    vertical-align: middle;
    horizontal-align: center;
}

.add-label {
    width: 100%;
    background: transparent;
    text-align: center;
}


.dialog-container {
    background-color: #ffffff;
    vertical-align: middle;
    width: 90%;
    height: 35%;
    border-radius: 10;
}

.dialog-label {
    width: 80%;
    text-align: left;
    vertical-align: top;
    margin-top: 7%;
    height: 45%;
    font-size: 19;
}

.dialog-btn-container {
    width: 90%;
    vertical-align: bottom;
    horizontal-align:center;
    height: 50%;
}

.buy-btn {
    background-color: #ff5600;
    color: #ffffff;
    border-radius: 10;
    height: 50%;
}

.cancel-btn {
    background-color: #ff5600;
    border-radius: 10;
    height: 50%;
    color: #ffffff;
}