<GridLayout class="page">
    <GridLayout *ngIf="isRendering && isInternetConnection" class="page">
        <ScrollView width="100%" height="100%" verticalAlignment="top">
            <StackLayout width="100%">
                <GridLayout class="main-container" verticalAlignment="top"
                    rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">
                    <GridLayout row="0" class="page-heading-container" columns="*,auto">
                        <Label col="0" class="page-heading" [text]="pageHeading"></Label>
                        <!-- <StackLayout col="1" class="concerts-container" orientation="Horizontal" (tap)="onConcerts()">
                            <Image class="concerts-icon" [src]="concerts_icon"></Image>
                            <Label class="concerts-text" [text]="concerts_text"></Label>
                        </StackLayout> -->
                    </GridLayout>
                    <GridLayout columns="*" class="search-Layout" horizontalAlignment="center" row="1">
                        <TextField col="0" hint="Search for songs, albums, podcast" class="search-field"
                            [text]="searchText" returnKeyType="search" (textChange)="onSearchTextChange($event)"
                            verticalAlignment="middle" horizontalAlignment="center" textWrap="false">
                        </TextField>
                        <StackLayout col="0" class="search-icon-container" (tap)="onMusicSearch()">
                            <Image class="text-search-icon" src="res://search_black"></Image>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout row="2" class="recently-heading-container">
                        <Label *ngIf="showRecentlyPlayed" class="recently-heading" [text]="recentlyHeading"></Label>
                    </StackLayout>
                    <GridLayout [visibility]="showRecentlyPlayed==true?'visible':'collapse'" row="3"
                        class="recently-played-container" tkExampleTitle tkToggleNavButton>
                        <RadListView [items]="recentlyPlayed" class="recently-played-list">
                            <ListViewStaggeredLayout tkListViewLayout scrollDirection="Horizontal" spanCount="1">
                            </ListViewStaggeredLayout>
                            <ng-template tkListItemTemplate let-item="item" let-i="index" width="100%">
                                <GridLayout rows="auto,auto" class="recently-song-container" orientation="Vertical">
                                    <i:ImageCacheIt row="0" radius="10" class="recently-song-image" stretch="aspectFill"
                                        [src]="item.image" (tap)="onRecentlyPlayed(item,i)" />
                                    <Label row="1" class="recently-song-name" textTransform="initial"
                                        [text]="item.name | titlecase" (tap)="onRecentlyPlayed(item,i)"></Label>
                                    <!-- <Button *ngIf="item.isSongPurchase" class="download-button" text="" (tap)="onDownload(item,i)"></Button> -->
                                    <GridLayout *ngIf="!isLoading" class="download-button" (tap)="onDownload(item,i)">
                                        <Image class="download-image" [src]="downloadImage"></Image>
                                    </GridLayout>
                                </GridLayout>
                            </ng-template>
                        </RadListView>
                    </GridLayout>
                    <GridLayout *ngIf="!isRecentlyPlayedRendering" row="3" class="recently-played-container"
                        backgroundColor="transparent">
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle"
                            [busy]="!isRecentlyPlayedRendering" rowSpan="1" colSpan="1">
                        </ActivityIndicator>
                    </GridLayout>

                    <StackLayout row="4" class="recently-heading-container">
                        <Label class="recently-heading" [text]="recommendedHeading"></Label>
                    </StackLayout>

                    <GridLayout *ngIf="isRecommendedRendering" row="5" class="recently-played-container" tkExampleTitle
                        tkToggleNavButton>
                        <RadListView [items]="recommendedSongs" class="recently-played-list">
                            <ListViewStaggeredLayout tkListViewLayout scrollDirection="Horizontal" spanCount="1">
                            </ListViewStaggeredLayout>
                            <ng-template tkListItemTemplate let-item="item" let-i="index" width="100%">
                                <GridLayout rows="auto,auto" class="recommended-song-container" orientation="Vertical">
                                    <!-- <NSImage row="0" radius="10" class="recommended-song-image" stretch="aspectFill" [src]="item.image" (tap)="onRecommendedSongs(item,i)"></NSImage> -->
                                    <i:ImageCacheIt row="0" radius="10" class="recommended-song-image"
                                        stretch="aspectFill" [src]="item.image" (tap)="onRecommendedSongs(item,i)" />
                                    <Label row="1" class="recommended-song-name" textTransform="initial"
                                        [text]="item.name | titlecase" (tap)="onRecommendedSongs(item,i)"></Label>
                                    <!-- <Button *ngIf="item.isSongPurchase == 'true' && !item.isLoading" class="download-button" [src]="downloadImage" (tap)="onDownload(item,i)"></Button> -->
                                    <GridLayout *ngIf="!isLoading" class="download-button" (tap)="onDownload(item,i)">
                                        <Image class="download-image" [src]="downloadImage"></Image>
                                    </GridLayout>
                                    <ActivityIndicator horizontalAlignment="right" verticalAlignment="top"
                                        [busy]="item.isLoading" rowSpan="1" colSpan="1">
                                    </ActivityIndicator>
                                </GridLayout>
                            </ng-template>
                        </RadListView>
                    </GridLayout>
                    <GridLayout *ngIf="!isRecommendedRendering" row="5" class="recently-played-container"
                        backgroundColor="transparent">
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle"
                            [busy]="!isRecommendedRendering" rowSpan="1" colSpan="1">
                        </ActivityIndicator>
                    </GridLayout>
                    <StackLayout row="6" class="recently-heading-container">
                        <Label class="recently-heading" [text]="mostViewedHeading"></Label>
                    </StackLayout>
                    <GridLayout *ngIf="isMostViewedRendering" row="7" class="recently-played-container" tkExampleTitle
                        tkToggleNavButton>
                        <RadListView [items]="mostViewedSongs" class="recently-played-list">
                            <ListViewStaggeredLayout tkListViewLayout scrollDirection="Horizontal" spanCount="1">
                            </ListViewStaggeredLayout>
                            <ng-template tkListItemTemplate let-item="item" let-i="index" width="100%">
                                <GridLayout rows="auto,auto" class="recommended-song-container" orientation="Vertical">
                                    <i:ImageCacheIt row="0" radius="10" class="recommended-song-image"
                                        stretch="aspectFill" [src]="item.image" (tap)="onMostViewedSongs(item,i)">
                                    </i:ImageCacheIt>
                                    <Label row="1" class="recommended-song-name" textAlignment="center" textWrap="true"
                                        [text]="item.name | titlecase" (tap)="onMostViewedSongs(item,i)"></Label>
                                    <!-- <Button *ngIf="item.isSongPurchase == 'true' && !item.isLoading" class="download-button" text="" (tap)="onDownload(item,i)"></Button> -->
                                    <GridLayout *ngIf="!isLoading" class="download-button" (tap)="onDownload(item,i)">
                                        <Image class="download-image" [src]="downloadImage"></Image>
                                    </GridLayout>
                                    <ActivityIndicator horizontalAlignment="right" verticalAlignment="top"
                                        [busy]="item.isLoading" rowSpan="1" colSpan="1">
                                    </ActivityIndicator>
                                </GridLayout>
                            </ng-template>
                        </RadListView>
                    </GridLayout>
                    <GridLayout *ngIf="!isMostViewedRendering" row="7" class="recently-played-container"
                        backgroundColor="transparent">
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle"
                            [busy]="!isMostViewedRendering" rowSpan="1" colSpan="1">
                        </ActivityIndicator>
                    </GridLayout>
                    <StackLayout row="8" class="recently-heading-container">
                        <Label class="recently-heading" [text]="mostRatedHeading"></Label>
                    </StackLayout>
                    <GridLayout *ngIf="isMostRatedRendering" row="9" class="recently-played-container" tkExampleTitle
                        tkToggleNavButton>
                        <RadListView [items]="mostRatedSongs" class="recently-played-list">
                            <ListViewStaggeredLayout tkListViewLayout scrollDirection="Horizontal" spanCount="1">
                            </ListViewStaggeredLayout>
                            <ng-template tkListItemTemplate let-item="item" let-i="index" width="100%">
                                <GridLayout rows="auto,auto" class="recommended-song-container" orientation="Vertical">
                                    <i:ImageCacheIt #myImage row="0" radius="10" class="recommended-song-image"
                                        stretch="aspectFill" [src]="item.image" (tap)="onMostRatedSongs(item,i)" />
                                    <Label row="1" class="recommended-song-name" textAlignment="center" textWrap="true"
                                        [text]="item.name | titlecase" (tap)="onMostRatedSongs(item,i)"></Label>
                                    <!-- <Button *ngIf="item.isSongPurchase == 'true' && !item.isLoading" class="download-button" text="" (tap)="onDownload(item,i)"></Button> -->
                                    <GridLayout *ngIf="!isLoading" class="download-button" (tap)="onDownload(item,i)">
                                        <Image class="download-image" [src]="downloadImage"></Image>
                                    </GridLayout>
                                    <ActivityIndicator horizontalAlignment="right" verticalAlignment="top"
                                        [busy]="item.isLoading" rowSpan="1" colSpan="1">
                                    </ActivityIndicator>
                                </GridLayout>
                            </ng-template>
                        </RadListView>
                    </GridLayout>
                    <GridLayout *ngIf="!isMostRatedRendering" row="9" class="recently-played-container"
                        backgroundColor="transparent">
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle"
                            [busy]="!isMostRatedRendering" rowSpan="1" colSpan="1">
                        </ActivityIndicator>
                    </GridLayout>
                    <StackLayout row="10" class="recently-heading-container">
                        <Label class="recently-heading" [text]="popularAlbumsHeading"></Label>
                    </StackLayout>
                    <GridLayout *ngIf="isPopularAlbumRendering" row="11" class="recently-played-container"
                        tkExampleTitle tkToggleNavButton>
                        <RadListView [items]="popularAlbums" class="recently-played-list">
                            <ListViewStaggeredLayout tkListViewLayout scrollDirection="Horizontal" spanCount="1">
                            </ListViewStaggeredLayout>
                            <ng-template tkListItemTemplate let-item="item" width="100%">
                                <StackLayout class="recently-song-container" orientation="Vertical"
                                    (tap)="onPopularAlbums(item)">
                                    <i:ImageCacheIt radius="10" class="recently-song-image" stretch="aspectFill"
                                        [src]="item.image" />
                                    <Label class="recommended-song-name" textAlignment="center" textWrap="true"
                                        [text]="item.name | titlecase"></Label>
                                </StackLayout>
                            </ng-template>
                        </RadListView>
                    </GridLayout>
                    <GridLayout *ngIf="!isPopularAlbumRendering" row="11" class="recently-played-container"
                        backgroundColor="transparent">
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle"
                            [busy]="!isPopularAlbumRendering" rowSpan="1" colSpan="1">
                        </ActivityIndicator>
                    </GridLayout>
                    <StackLayout row="12" class="recently-heading-container">
                        <Label class="recently-heading" [text]="popularPlaylistsHeading"></Label>
                    </StackLayout>
                    <GridLayout *ngIf="isPopularPlaylistRendering" row="13" class="recently-played-container"
                        tkExampleTitle tkToggleNavButton>
                        <RadListView [items]="popularPlaylists" class="recently-played-list">
                            <ListViewStaggeredLayout tkListViewLayout scrollDirection="Horizontal" spanCount="1">
                            </ListViewStaggeredLayout>
                            <ng-template tkListItemTemplate let-item="item" width="100%">
                                <StackLayout class="recommended-song-container" orientation="Vertical"
                                    (tap)="onPopularPlaylists(item)">
                                    <i:ImageCacheIt radius="10" class="recommended-song-image" stretch="aspectFill"
                                        [src]="item.image" />
                                    <Label class="recommended-song-name" textAlignment="center" textWrap="true"
                                        [text]="item.name | titlecase"></Label>
                                </StackLayout>
                            </ng-template>
                        </RadListView>
                    </GridLayout>
                    <GridLayout *ngIf="!isPopularPlaylistRendering" row="13" class="recently-played-container"
                        backgroundColor="transparent">
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle"
                            [busy]="!isPopularPlaylistRendering" rowSpan="1" colSpan="1">
                        </ActivityIndicator>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
        <!-- <StackLayout *ngIf="isConcertDetail" [class]="concertViewClass">
            <ns-concertDetail></ns-concertDetail>
        </StackLayout> -->

    </GridLayout>
    <StackLayout *ngIf="!isInternetConnection" width="100%" verticalAlignment="middle" orientation="vertical">
        <Image class="wifi-off-icon" [src]="wifiOffIcon"></Image>
        <Label class="internet-message" textWrap="true" [text]="internetMessage"></Label>
        <Button class="try-again-button" text="TRY AGAIN" (tap)="onTryAgain()"></Button>
    </StackLayout>
    <GridLayout *ngIf="!isRendering" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</GridLayout>