.page {
    width: 100%;
    height: 100%;
}

.footer-container {
    width: 100%;
    height: 8%;
    vertical-align: bottom;
}

.player-container {
    background-color: #f7f7f7;
    height: 8%;
    vertical-align: bottom;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.page-heading-container {
    height: auto;
    width: 95%;
    vertical-align: middle;
    margin-top: 10;
}

.page-heading {
    font-size: 30%;
    color: #ff5600;
    font-weight: 500;
}

.concerts-container {
    height: 50%;
    border-radius: 5;
    border-width: 1;
    border-color: #ff5600;
    vertical-align: middle;
    margin-top: 5;
}

.concerts-icon {
    width: 20;
    height: 20;
    margin: 3 8;
}

.concerts-text {
    margin: 3 8;
    font-size: 14%;
    color: #000000;
}

.recently-heading-container {
    width: 95%;
    height: auto;
    vertical-align: middle;
    margin-top: 15;
}

.recently-heading {
    font-size: 20%;
    color: #000000;
    font-weight: 500;
}

.recently-played-container {
    height: auto;
    width: 100%;
}

.recently-played-list {
    width: 100%;
    height: auto;
}

.download-button {
    width: 25vh;
    height: 25vh;
    /* border-radius: 12.5vh; */
    background-color: white;
    /* background-image: url('res://download');
    background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    horizontal-align: right;
    vertical-align: top;
    android-elevation: 0;
    android-dynamic-elevation-offset: 0;
    padding: 0;
    margin-right: 1%;
    margin-top: 1%;
    border-radius:15vh;
}

.download-image{
    height:60%;
    vertical-align: middle;
}

.download-button:active {
    background-color: gray;
}

.recently-song-container {
    height: auto;
    width: 120;
    margin-left: 10;
    margin-top: 10;
}

.recently-song-image {
    width: 120vh;
    height: 120vh;
}

.recently-song-name {
    height: auto;
    font-size: 15%;
    margin-top: 5;
    color: #000000;
}

.recommended-song-container {
    height: auto;
    width: 200;
    margin-left: 10;
    margin-top: 10;
}

.recommended-song-image {
    width: 200vh;
    height: 200vh;
    border-radius: 10;
}

.recommended-song-name {
    height: auto;
    font-size: 18%;
    margin-top: 5;
    color: #000000;
    font-weight: 500;
}

.recommended-song-detail {
    height: auto;
    font-size: 13%;
    margin-top: 5;
    columns: #838383;
}

.genres-moods-container {
    width: 200vh;
    height: auto;
    margin-left: 10;
    margin-top: 10;
    background-color: #ffcc26;
    border-radius: 10;
    vertical-align: middle;
}

.genres-moods {
    font-size: 20%;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    margin-top: 10;
    margin-bottom: 10;
}

.search-Layout {
    height: auto;
    width: 90%;
    vertical-align: middle;
    align-items: center;
}

.search-field {
    border-bottom: 0px;
    border-color: transparent;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 100%;
    height: 50;
    font-size: 19px;
    font-weight: 500;
    padding: 0 20 0 10;
    color: #000000;
}

::placeholder {
    color: #3a393b;
}

.search-icon-container {
    width: 30;
    height: 30;
    background-color: #ff5600;
    border-radius: 20;
    margin-right: 10;
    horizontal-align: right;
    vertical-align: middle;
}

.text-search-icon {
    height: 15;
    z-index: 1;
}

.internet-message {
    width: 90%;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    font-size: 18%;
    font-weight: 500;
}

.wifi-off-icon {
    width: 10%;
}

.try-again-button {
    width: 40%;
    height: 40;
    border-radius: 20;
    background-color: #ff5600;
    color: #ffffff;
    font-size: 14%;
    font-weight: 500;
    border-width: 1;
    border-color: #ff5600;
    padding: 0;
    margin-top: 20;
}

.try-again-button:highlighted {
    color: #ff5600;
    background-color: white;
    border-color: #ff5600;
}


/* .view-out {
    animation-name: viewOut;
    animation-duration: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}

@keyframes viewOut {
    from {
        transform: translate(0, -500);
    }
    to {
        transform: translate(0, 0);
    }
}

.view-in {
    animation-name: viewIn;
    animation-duration: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}

@keyframes viewIn {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, -500);
    }
} */