<PreviousNextView>
    <GridLayout>

        <GridLayout *ngIf="isRendering" height="100%" width="100%">
            <ScrollView (loaded)="onScrollViewLoaded($event)">
                <FlexboxLayout height="65%" width="100%" flexDirection="column" justifyContent="space-around" verticalAlignment="top">

                    <GridLayout height="30">
                        <Label class="text-center title" text="Card Details"></Label>
                    </GridLayout>

                    <TextField row="1" [text]="name" class="fullNameTextField" padding="0" autocorrect="false" (textChange)="onNameTextChange($event)" returnKeyType="next" hint="Full name as on card">
                    </TextField>

                    <TextField row="2" [text]="email" class="fullNameTextField" padding="0" autocorrect="false" (textChange)="onEmailTextChange($event)" keyboardType="email" returnKeyType="next" hint="Recepient Email">
                    </TextField>
                    <CreditCardView #card row="3" (focus)="onCardFieldFocus($event)"></CreditCardView>
                    <Button #submit class="submit-button" row="4" text="SUBMIT" (tap)="createToken(card)"></Button>

                </FlexboxLayout>
            </ScrollView>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <GridLayout *ngIf="isLoading" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1" colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</PreviousNextView>