@keyframes tap-active {
  from {
    background-color: yellow;
  }
  to {
    background-color: red;
  }
}

.fullNameTextField {
  border-width: 1;
  border-color: transparent;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 18%;
}

.main {
  width: 100%;
  height: 100%;
}

.submit-button {
  vertical-align: bottom;
  height: 7%;
  width: 90%;
  margin-top: 2%;
  border-width: 1;
  border-color: transparent;
  z-index: 0;
  border-radius: 3%;
  background-color: #2b2bf9;
  font-weight: 700;
  color: white;
}

.submit-button:active {
  background-color: #6af4a1;
  color: black;
}

.testImage {
  z-index: 9999;
}

/* Ripple effect */

/* .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  } */

/* Button style */

/* button {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
  } */