<Page actionBarHidden="true">

    <GridLayout class="page">
        <GridLayout columns="*" rows="auto" class="search-Layout" verticalAlignment="top" horizontalAlignment="center">
            <GridLayout columns="auto,*" class="back-container" col="0" ,row="0" orientation="horizontal">
                <Image col="0" class="back-button" [src]="backbtn" (tap)="onBack()"></Image>
                <Label colSpan="2" class="header-text" [text]="headerText"></Label>
            </GridLayout>
        </GridLayout>

        <StackLayout class="search-songs-container" tkExampleTitle tkToggleNavButton>
            <RadListView [items]="songList" class="list" backgroundColor="#ffffff">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template tkListItemTemplate let-item="item" let-i="index">
                    <GridLayout class="song-container" columns="auto,*,auto" (tap)="onItemTap(i)">
                        <StackLayout col="0" class="song-image-container">
                            <Image stretch="aspectFit" radius="10" [src]="item.isOfflineSong?'res://music_black':item.image"
                                class="song-image">
                            </Image>
                        </StackLayout>
                        <StackLayout col="1" class="song-detail-container" orientation="vertical">
                            <Label class="song-name" [text]="item.name | titlecase"></Label>
                            <Label class="song-views" [text]="item.artist | titlecase"></Label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
        </StackLayout>
    </GridLayout>

</Page>