<GridLayout rows="*,auto,auto" height="100%" width="100%">
    <page-router-outlet row="0"></page-router-outlet>
    <StackLayout [visibility]="showPlayer?'visible':'collapse'" class="player-container" row="1">
        <ns-player></ns-player>
    </StackLayout>
    <StackLayout *ngIf="showFooter" row="2" #footerCard class="footer-container">
        <ns-footer></ns-footer>
    </StackLayout>
    <GridLayout #errorDialog width="80%" height="30%" borderRadius="10" modal size="lg">
        <Label class="text-center" [text]="errorText" textWrap="true" fontWeight="500" color="white" fontSize="18%"></Label>
        <Button class="transparent-button" alignSelf="center" marginTop="15%" height="20%" width="40%" text="OK" (tap)="onErrorOKTap($event)" marginBottom="4" fontWeight="600"></Button>
    </GridLayout>
    <GridLayout #songBuyDialog modal size="md" dismissable="true" duration="100">
        <StackLayout class="dialog-container" orientation="vertical">
            <StackLayout>
                <Label [text]="dialogText" class="dialog-label"></Label>
            </StackLayout>
            <StackLayout class="dialog-btn-container" orientation="horizontal">
                <Button class="cancel-btn" text="Cancel" (tap)="onCancel()"></Button>
                <Button class="buy-btn" text="Buy" (tap)="buySong()"></Button>
            </StackLayout>
        </StackLayout>
    </GridLayout>
    <!-- <Label class="text-center connection-label" [backgroundColor]="labelBackground" [text]="connectionStatusText" opacity="0.8"></Label> -->
</GridLayout>