<Page actionBarHidden="true">
    <GridLayout class="page" rows="auto,*">
        <GridLayout *ngIf="isInternetConnection" rows="auto,auto" columns="*" class="search-Layout"
            verticalAlignment="top" horizontalAlignment="center" row="0">
            <Image col="0" class="text-search-icon" src="res://search_black" horizontalAlignment="left"></Image>
            <TextField col="0" hint="Search for songs, albums, podcast" class="search-feild" [text]="search"
                returnKeyType="search" (textChange)="onTextChange($event)" verticalAlignment="middle"
                horizontalAlignment="center" textWrap="false">
            </TextField>
            <StackLayout row="1" orientation="horizontal">
                <Button [ngClass]="isSongSelected? 'selected-filter-button': 'filter-button'" text="Songs"
                    (tap)="onFilters('songs')"></Button>
                <Button [ngClass]="isAlbumSelected? 'selected-filter-button': 'filter-button'" text="Albums"
                    (tap)="onFilters('albums')"></Button>
                <Button [ngClass]="isArtistSelected? 'selected-filter-button': 'filter-button'" text="Artists"
                    (tap)="onFilters('artists')"></Button>
            </StackLayout>
        </GridLayout>
        <RadListView row="1" [items]="searchResult" class="search-album-list" *ngIf="isSearch">
            <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="2">
            </ListViewStaggeredLayout>
            <ng-template tkListItemTemplate let-item="item" let-i="index">
                <!-- <StackLayout class="search-container" orientation="Vertical" >
                    <i:ImageCacheIt radius="10" class="search-image" stretch="aspectFill"
                        [src]="item.image" />
                    <Label class="search-album-name" textTransform="initial" [text]="item.name | titlecase"></Label>

                </StackLayout> -->
                <GridLayout rows="auto,auto" class="search-container">
                    <i:ImageCacheIt row="0" radius="10" class="search-image" stretch="aspectFill" [src]="item.image"
                        (tap)="onSearchItem(item)" />
                    <Label row="1" class="search-album-name" [text]="item.name | titlecase"
                        (tap)="onSearchItem(item)"></Label>
                    <Button *ngIf="item.isSongPurchase == 'true' && !item.isLoading" class="download-button"
                        (tap)="onDownload(item,i)"></Button>
                    <ActivityIndicator horizontalAlignment="right" verticalAlignment="top" [busy]="item.isLoading">
                    </ActivityIndicator>
                </GridLayout>
            </ng-template>
        </RadListView>

        <!-- <ScrollView width="100%" row="1" *ngIf="isSearch ">
            <StackLayout>
                <StackLayout *ngIf="!isNoSongData" class="viewAll-container" orientation="horizontal" horizontalAlignment="center" verticalAlignment="middle">
                    <Label class="search-history-text" [text]="songsText"></Label>
                    <Label class="show-all-text" [text]="showAllText" (tap)="showAll()"></Label>
                    <Image class="viewall-icon" [src]="nextIcon" verticalAlignment="middle"></Image>

                </StackLayout>

                <StackLayout *ngIf="!isNoSongData" class="search-songs-container" tkExampleTitle tkToggleNavButton>

                    <GridLayout *ngFor="let item of searchSongResult; let i ='index'" class="search-list-container" (tap)="onSearchSongs(item,i)" columns="auto,*">
                        <StackLayout class="song-image-container" col="0">
                            <Image class="song-image" [src]="item.image" radius="10"></Image>
                        </StackLayout>
                        <GridLayout col="1" class="song-detail-container" rows="auto,auto" verticalAlignment="middle" columns="*,25">
                            <StackLayout row="0" col="0" class="song-name-container">
                                <Label class="song-name" [text]="item.name | titlecase"></Label>
                            </StackLayout>
                            <StackLayout row="1" col="0" class="song-name-container">
                                <Label class="artist-name" [text]="item.artist | titlecase"></Label>
                            </StackLayout>
                            <Image col="1" rowSpan="2" [src]="menuButton" class="menu-button" horizontalAlignment="center">
                            </Image>
                        </GridLayout>
                    </GridLayout>
                </StackLayout>
                <StackLayout *ngIf="!isNoAlbumData" class="viewAll-container" orientation="horizontal" horizontalAlignment="left" verticalAlignment="middle">
                    <Label paddingLeft="10" class="search-history-text" text="Albums"></Label>

                </StackLayout>
                <GridLayout *ngIf="!isNoAlbumData" row="2" class="search-album-container" tkExampleTitle tkToggleNavButton>
                    
                </GridLayout>

            </StackLayout>
        </ScrollView> -->
        <!-- <StackLayout width="100%" height="100%" verticalAlignment="middle">
            <Label *ngIf="!isInternetConnection" class="internet-message" textWrap="true" [text]="internetMessage"></Label>
        </StackLayout> -->
        <StackLayout row="1" *ngIf="!isInternetConnection" width="100%" verticalAlignment="middle"
            orientation="vertical">
            <Image class="wifi-off-icon" [src]="wifiOffIcon"></Image>
            <Label class="internet-message" textWrap="true" [text]="internetMessage"></Label>
            <Button class="try-again-button" text="TRY AGAIN" (tap)="onTryAgain()"></Button>
        </StackLayout>
        <StackLayout row="1" *ngIf="!isSearch && isInternetConnection" horizontalAlignment="center"
            verticalAlignment="middle">
            <Label [text]="isNoData?noResult:serachNow"></Label>
        </StackLayout>
        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="transparent">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

    </GridLayout>


</Page>