/* Add mobile styles for the component here.  */

.page {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 8%;
    /* background-color: #222326; */
}

.footer-container {
    width: 100%;
    height: 8%;
    vertical-align: bottom;
}

.player-container {
    width: 100%;
    height: 8%;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.search-Layout {
    width: 90%;
    margin-top: 5%;
    vertical-align: middle;
    align-items: center;
}

.search-feild {
    border-bottom: 0px;
    border-color: transparent;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 100%;
    height: 50;
    font-size: 19px;
    font-weight: 500;
    padding: 0 20 0 45;
    color: #000000;
}

::placeholder {
    color: #3a393b;
}

.text-search-icon {
    height: 15;
    margin-left: 20;
    z-index: 1;
}

.viewAll-container {
    width: 95%;
    vertical-align: middle;
    /* padding: 15 0; */
    height: 50;
}

.search-history-text {
    font-size: 20;
    font-weight: 500;
    width: 70%;
    vertical-align: middle;
}

.show-all-text {
    color: #ff5600;
    font-size: 15;
    font-weight: 500;
    vertical-align: middle;
}

.viewall-icon {
    width: 12;
    height: 12;
    margin-left: 10;
}

.search-layout {
    height: 100%;
}

.search-icon {
    height: 20%;
    width: 20%;
    margin-top: 30%;
}

.search-text {
    color: #3a393b;
    text-align: center;
}

.search-list-layout {
    height: 84.1%;
}

.search-songs-container {
    height: auto;
    width: 100%;
}

.search-songs-list {
    width: 100%;
    height: auto;
}

.search-list-container {
    height: 75;
    width: 96%;
}

.song-image-container {
    height: 100%;
    width: 100;
    border-radius: 30%;
    vertical-align: middle;
}

.song-image {
    height: 88%;
    width: 88%;
}

.song-detail-container {
    height: 100%;
    vertical-align: middle;
}

.song-name-container {
    height: 40%;
    width: 100%;
    vertical-align: middle;
    padding: 0;
}

.menu-button {
    height: 20;
}

.song-name {
    font-size: 20%;
    color: #000000;
    font-weight: 500;
}

.artist-name {
    font-size: 15%;
    color: #838383;
    font-weight: 500;
}

.play-icon-container {
    width: 25;
    height: 25;
    background-color: #000000;
    border-radius: 15;
    vertical-align: middle;
}

.search-album-container {
    height: auto;
    width: 100%;
}

.search-album-list {
    width: 100%;
    height: auto;
}

.search-album-name-container {
    height: auto;
    width: 120;
    
    
}


.search-album-image {
    width: 120vh;
    height: 120vh;
}

.search-album-name {
    height: auto;
    font-size: 15%;
    margin-top: 5;
    color: #000000;
}

.search-container{
    height: auto;
    margin: 10 10 0 10;
}
.search-image{
    width: 100%;
    height: 120vh;
    border-radius: 10;
}
.download-button {
    width: 25;
    height: 25;
    background-color: transparent;
    background-image: url('res://download');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    horizontal-align: right;
    vertical-align: top;
    android-elevation: 0;
    android-dynamic-elevation-offset: 0;
    padding: 0;
    margin-right: 2;
}

.download-button:active {
    background-color: gray;
}

.internet-message {
    width: 90%;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    font-size: 18%;
    font-weight: 500;
}

.wifi-off-icon {
    width: 10%;
}

.try-again-button {
    width: 40%;
    height: 40;
    border-radius: 20;
    background-color: #ff5600;
    color: #ffffff;
    font-size: 14%;
    font-weight: 500;
    border-width: 1;
    border-color: #ff5600;
    padding: 0;
    margin-top: 20;
}

.try-again-button:highlighted {
    color: #ff5600;
    background-color: white;
    border-color: #ff5600;
}

.filter-button{
    width: 25%;
    height: 40;
    border-radius: 20;
    background-color: #ff5600;
    color: #ffffff;
    font-size: 14%;
    font-weight: 500;
    border-width: 1;
    border-color: #ff5600;
    padding: 0;
    margin: 10;
}
.selected-filter-button{
    width: 25%;
    height: 40;
    border-radius: 20;
    background-color: white;
    color: #ff5600;
    font-size: 14%;
    font-weight: 500;
    border-width: 1;
    border-color: #ff5600;
    padding: 0;
    margin: 10;
}