.page {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 8%;
    /* background-color: #222326; */
}


.back-container {
    width: 100%;
    height: 8%;
    padding-left: 10;
    padding-right: 10;
}

.back-button {
    height: 25;
    margin-left: 5;

}

.add-song-text {
    width: 80%;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-container {
    height: auto;
    width: 100%;
}

.profile-heading {
    width: 85%;
    height: auto;
    margin-top: 25;
    color: #838383;
    font-size: 18%;
    font-weight: 500;
    
}

.profile-subheading {
    width: 85%;
    height: auto;
    margin-left: 5;
    color: #838383;
    font-size: 13%;
    font-weight: 400;
}
