<GridLayout class="page" rows="auto,*">

    <GridLayout row="0" columns="auto,*" class="back-container" orientation="horizontal">
        <Image col="0" class="back-button" [src]="backbtn" (tap)="onBack()"></Image>
        <Label colSpan="2" class="add-song-text" [text]="headerText"></Label>
    </GridLayout>
    <ScrollView width="100%" row="1">
        <StackLayout width="100%" height="auto">
            <GridLayout class="main-container" verticalAlignment="top" rows="auto,auto,auto,auto">

                <StackLayout row="0" class="profile-container" orientation="vertical">
                    <Label class="profile-heading" [text]="versionHeading"></Label>
                    <Label class="profile-subheading" [text]="currentVersion"></Label>
                </StackLayout>

                <StackLayout row="1" class="profile-container" orientation="vertical" (tap)="onTermsConditions()">
                    <Label class="profile-heading" [text]="termsAndConditionsHeading"></Label>
                    <Label class="profile-subheading" [text]="termsAndConditionsSubHeading"></Label>
                </StackLayout>
                <StackLayout row="2" class="profile-container" orientation="vertical" (tap)="onPrivacy()">
                    <Label class="profile-heading" [text]="privacyPolicyHeading"></Label>
                    <Label class="profile-subheading" [text]="privacyPolicySubHeading"></Label>
                </StackLayout>
                <StackLayout row="3" class="profile-container" orientation="vertical" (tap)="onSupport()">
                    <Label class="profile-heading" [text]="supportHeading"></Label>
                    <Label class="profile-subheading" [text]="supportSubHeading"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>