<Page actionBarHidden="true">
    <GridLayout class="page">
        <StackLayout class="footer-container" verticalAlignment="bottom">
            <GridLayout rows="*" columns="*,*,*,*,*">
                <GridLayout col="0" row="0" (tap)="onExploreClick()" rows="auto,auto">
                    <StackLayout *ngIf="!isExploreHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://music_black">
                        </Image>
                        <Label text="Explore" textWrap="true" fontSize="14%" fontWeight="500" color="#080808" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                    <StackLayout *ngIf="isExploreHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://music">
                        </Image>
                        <Label text="Explore" textWrap="true" fontSize="14%" color="#FFFFFF" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                </GridLayout>
                <!-- <GridLayout col="1" row="0" (tap)="onConcertsClick()" rows="auto,auto">
                    <StackLayout *ngIf="!isConcertHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://events">
                        </Image>
                        <Label text="Concerts" textWrap="true" fontSize="14%" fontWeight="500" color="#080808" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                    <StackLayout *ngIf="isConcertHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://events">
                        </Image>
                        <Label text="Concerts" textWrap="true" fontSize="14%" color="#FFFFFF" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                </GridLayout> -->
                <GridLayout col="1" row="0" (tap)="onTrendingClick()" rows="auto,auto">
                    <StackLayout *ngIf="!isTrendingHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://trending_black">
                        </Image>
                        <Label text="Trending" textWrap="true" fontSize="14%" fontWeight="500" color="#080808" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                    <StackLayout *ngIf="isTrendingHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://trending">
                        </Image>
                        <Label text="Trending" textWrap="true" fontSize="14%" color="#FFFFFF" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout col="2" row="0" (tap)="onSearchClick()" rows="auto,auto">
                    <StackLayout *ngIf="!isSearchHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://search_black">
                        </Image>
                        <Label text="Search" fontSize="14%" color="#080808" fontWeight="500" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                    <StackLayout *ngIf="isSearchHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://search">
                        </Image>
                        <Label text="Search" fontSize="14%" color="#FFFFFF" textAlignment="center" verticalAlignment="bottom">
                        </Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout col="3" row="0" (tap)="onLibraryClick()" rows="auto,auto">
                    <StackLayout *ngIf="!isLabraryHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://library_black">
                        </Image>
                        <Label text="Library" textWrap="true" fontSize="14%" fontWeight="500" color="#080808" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                    <StackLayout *ngIf="isLabraryHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://library">
                        </Image>
                        <Label text="Library" textWrap="true" fontSize="14%" color="#FFFFFF" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout col="4" row="0" (tap)="onProfileClick()" rows="auto,auto">
                    <StackLayout *ngIf="!isProfileHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://user_black">
                        </Image>
                        <Label text="Account" textWrap="true" fontSize="14%" fontWeight="500" color="#080808" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                    <StackLayout *ngIf="isProfileHighlighted" row="0" height="100%" width="100%">
                        <Image class="footer-icon" src="res://user">
                        </Image>
                        <Label text="Account" textWrap="true" fontSize="14%" color="#FFFFFF" textAlignment="center" verticalAlignment="bottom"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</Page>