<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout class="main-container" verticalAlignment="top" rows="auto,auto,auto,auto,auto,auto">
            <StackLayout row="0" class="confirmation-container" orientation="vertical">
                <Image class="confirmation-pic" [src]="confirmationPic"></Image>
                <StackLayout class="confirmation-heading-container">
                    <Label class="confirmation-heading" [text]="confirmationHeading"></Label>
                </StackLayout>
                <StackLayout class="confirmation-message-container">
                    <Label class="confirmation-message" textWrap="true" [text]="confirmationMessage"></Label>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </GridLayout>
</Page>