.page{
    width:100%;
    height:100%;
    background-color: #ffffff;
}
.footer-container{
    width:100%;
    height:8%;
    vertical-align: bottom;
}
.player-container{
    background-color:#f7f7f7;
    height:10%;
    vertical-align:bottom;
    margin-bottom:8%;
}
.main-container{
    width:100%;
    height:auto;
    background-color: #ffffff;
}
.confirmation-container{
    width:100%;
    height:auto;
    margin-top: 30%;
}
.confirmation-pic{
    width:60vh;
    height:60vh;
}
.confirmation-heading-container{
    width:95%;
    height:auto;
}
.confirmation-heading{
    margin-top: 10;
    font-size: 18%;
    color:#d80027;
    font-weight: 500;
    text-align: center;
}
.confirmation-message-container{
    width:80%;
    height:auto;
}
.confirmation-message{
    margin-top: 5;
    font-size: 14%;
    color:#474261;
    font-weight: 500;
    text-align: center;
}
