/* Add mobile styles for the component here.  */

.page {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.search-Layout {
    width: 90%;
    margin-top: 3%;
    vertical-align: middle;
    align-items: center;
}

.back-container {
    width: 100%;
    height: 30;
}

.back-button {
    height: 25;
}

.user-image {
    /* margin: 2%; */
    width: 30;
    height: 30;
    border-radius: 100%;
    margin: auto;
    vertical-align: middle;
}

.userName-container {
    margin: 0;
    padding: 0 10;
    height: 30;
    vertical-align: top;
}

.userName {
    color: black;
    margin: auto, 0;
    padding: 0;
    font-size: 15;
}

.description-container {
    margin: 0;
    padding: 0, 15;
}

.description {
    color: #A2A2A2;
    margin: auto 0;
    padding: 0;
    word-wrap: normal;
    font-size: 12;
}

.date-container {
    height: 30;
    width: 25%;
    vertical-align: top;
}

.date-label {
    font-size: 12;
    color: black;
}

.comments-text {
    width: 80%;
    text-align: center;
}

.comments-box-container {
    /* margin-top: 1%; */
    width: 100%;
    height: 7%;
    border-radius: 20;
    border: #A2A2A2 solid 1px;
}

.input-text {
    border: none;
    border-color: transparent;
}

TextField {
    border-radius: 40;
    border-color: #A2A2A2;
    border-width: 1px;
    margin-left: 5%;
    width: 75%;
    height: 98%;
    padding: 0 10;
}

.send-button {
    height: 75%;
}