<Page (loaded)="pageLoaded($event)" (unloaded)="pageUnloaded()">

    <GridLayout width="100%" height="100%" rows="auto,auto">
        <GridLayout columns="*" rows="auto" class="search-Layout" verticalAlignment="top" horizontalAlignment="center">
            <GridLayout columns="auto,*" class="back-container" col="0" ,row="0" orientation="horizontal">
                <Image col="0" class="back-button" [src]="backbtn" (tap)="onBack()"></Image>
                <Label colSpan="2" class="comments-text" [text]="commentText"></Label>
            </GridLayout>
        </GridLayout>
        <GridLayout #container *ngIf="isRendering" rows="auto,*" row="1" height="90%" width="100%">
            <ListView *ngIf="!noComments" [items]="comments" row="0" width="100%" height="90%" rowHeight="auto"
                separatorColor="gray">
                <ng-template let-item="item">
                    <GridLayout rows="auto, auto" columns="auto, *, auto" height="auto">
                        <Image col="0" rowSpan="2" stretch="aspectFit" row="0" verticalAlignment="middle"
                            class="user-image" src="res://account">
                        </Image>
                        <StackLayout row="0" col="1" height="30" class="userName-container">
                            <Label class="userName" [text]="item.userName | titlecase"></Label>
                        </StackLayout>
                        <GridLayout row="0" col="2" class="date-container">
                            <Label class="date-label" verticalAlignment="middle" horizontalAlignment="right"
                                [text]="item.time | date:'dd/MM/yy'"></Label>
                        </GridLayout>
                        <StackLayout row="1" col="1" colSpan="2" class="description-container">
                            <Label class="description" textWrap="true" [text]="item.text"></Label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </ListView>
            <GridLayout *ngIf="noComments" row="0" width="100%" height="90%">
                <Label verticalAlignment="middle" horizontalAlignment="center" text="No Comments"></Label>
            </GridLayout>
            <StackLayout row="1" orientation="horizontal" verticalAlignment="bottom" class="comments-box-container">
                <TextField hint="Add a comment" style.placeholderColor="#A2A2A2" fontSize="15" autocorrect="false"
                    [text]="commentValue" (textChange)="commentTextField($event)"></TextField>
                <Image class="send-button" [src]="sendBtn" (tap)="onSendButton()"></Image>
            </StackLayout>
        </GridLayout>
        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>

</Page>