.page {
    width: 100%;
    height: 100%;
}

.footer-container {
    width: 100%;
    height: 8%;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.player-container {
    height: 8%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.page-heading-container {
    height: auto;
    width: 95%;
    vertical-align: middle;
    margin-top: 10;
}

.page-heading {
    font-size: 30%;
    color: #ff5600;
    font-weight: 500;
}

.music-type-container {
    height: auto;
    width: 100%
}

.music-type-list {
    height: auto;
    width: 100%;
}

.genres-moods-container {
    width: 200vh;
    height: auto;
    margin-left: 10;
    margin-top: 10;
    background-color: #FFCC26;
    border-radius: 10;
    vertical-align: middle;
}

.genres-moods {
    font-size: 20%;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    margin-top: 10;
    margin-bottom: 10;
}

.trending-heading-container {
    width: 95%;
    height: auto;
    vertical-align: middle;
    margin-top: 15;
}

.trending-heading {
    font-size: 20%;
    color: #000000;
    font-weight: 500;
}

.trending-songs-container {
    height: auto;
    width: 100%;
}

.trending-songs-list {
    width: 100%;
    height: auto;
}

.trending-song-container {
    height: 180;
    width: 95%;
}

.song-image-container {
    height: 170;
    width: 170;
    vertical-align: middle;
}

.song-image {
    height: 90%;
    width: 90%;
}

.song-detail-container {
    height: 170;
}

.song-name-container {
    height: 25%;
    width: 100%;
    vertical-align: middle;
}

.number-container {
    width: 15%;
    height: 60%;
    vertical-align: middle;
    background-color: #FF2D55;
    border-radius: 40%;
    horizontal-align: left;
}

.number {
    color: #ffffff;
    font-size: 13%;
    text-align: center;
}

.menu-button {
    height: 60%;
}

.song-name {
    font-size: 20%;
    color: #000000;
    font-weight: 500;
}

.artist-name {
    font-size: 15%;
    color: #838383;
    font-weight: 500;
}

.play-icon-container {
    width: 25;
    height: 25;
    background-color: #000000;
    border-radius: 15;
    vertical-align: middle;
}

.play-icon {
    height: 50%;
}

.views {
    font-size: 13%;
    color: #000000;
    vertical-align: middle;
    margin-left: 5;
}

.search-Layout {
    height: auto;
    width: 90%;
    vertical-align: middle;
    align-items: center;
}

.search-field {
    border-bottom: 0px;
    border-color: transparent;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 100%;
    height: 50;
    font-size: 19px;
    font-weight: 500;
    padding: 0 20 0 10;
    color: #000000;
}

::placeholder {
    color: #3a393b;
}

.search-icon-container {
    width: 30;
    height: 30;
    background-color: #ff5600;
    border-radius: 20;
    margin-right: 10;
    horizontal-align: right;
    vertical-align: middle;
}

.text-search-icon {
    height: 15;
    z-index: 1;
}

.internet-message {
    width: 90%;
    vertical-align: middle;
    text-align: center;
    color: #000000;
    font-size: 18%;
    font-weight: 500;
}

.wifi-off-icon {
    width: 10%;
}

.try-again-button {
    width: 40%;
    height: 40;
    border-radius: 20;
    background-color: #ff5600;
    color: #ffffff;
    font-size: 14%;
    font-weight: 500;
    border-width: 1;
    border-color: #ff5600;
    padding: 0;
    margin-top: 20;
}

.try-again-button:highlighted {
    color: #ff5600;
    background-color: white;
    border-color: #ff5600;
}

.download-button {
    width: 25vh;
    height: 25vh;
    /* border-radius: 12.5vh; */
    background-color: transparent;
    background-image: url('res://download');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    horizontal-align: right;
    vertical-align: top;
    android-elevation: 0;
    android-dynamic-elevation-offset: 0;
    padding: 0;
    margin-right: 7%;
    margin-top: 7%;
}

.download-button:active {
    background-color: gray;
}
.download-loading{
    margin-right: 7%;
    margin-top: 7%;
}