<GridLayout class="page" *ngIf="isRendering">
    <GridLayout #main *ngIf="isInternetConnection" rows="auto,auto,*" height="100%">
        <StackLayout row="0" #container>
            <StackLayout class="page-heading-container">
                <Label class="page-heading" [text]="topTrendingHeading"></Label>
            </StackLayout>
        </StackLayout>
        <GridLayout columns="*" class="search-Layout" horizontalAlignment="center" row="1">
            <TextField col="0" hint="Search for songs, albums, podcast" class="search-field" [text]="searchText"
                returnKeyType="search" (textChange)="onSearchTextChange($event)" verticalAlignment="middle"
                horizontalAlignment="center" textWrap="false">
            </TextField>
            <StackLayout col="0" class="search-icon-container" (tap)="onMusicSearch()">
                <Image class="text-search-icon" src="res://search_black"></Image>
            </StackLayout>
        </GridLayout>
        <RadListView row="2" [items]="trendingSongs" class="trending-songs-list">
            <ListViewStaggeredLayout tkListViewLayout spanCount="1">
            </ListViewStaggeredLayout>
            <ng-template let-item="item" let-i="index" width="100%">
                <GridLayout class="trending-song-container"  columns="auto,*">
                    <GridLayout class="song-image-container" col="0">
                        <!-- <Image class="song-image" [src]="item.image" radius="10" stretch="aspectFill"></Image> -->
                        <i:ImageCacheIt class="song-image" [src]="item.image" radius="10" stretch="aspectFill" (tap)="onTrendingSongs(item,i)" />
                        <Button *ngIf="item.isSongPurchase == 'true' && !item.isLoading" class="download-button" text=""
                            (tap)="onDownload(item,i)"></Button>
                        <ActivityIndicator class="download-loading" horizontalAlignment="right" verticalAlignment="top" [busy]="item.isLoading">
                        </ActivityIndicator>
                    </GridLayout>
                    <GridLayout col="1" class="song-detail-container" rows="auto,auto,auto,auto" (tap)="onTrendingSongs(item,i)">
                        <GridLayout row="0" columns="*,auto" class="song-name-container" orientation="horizontal">
                            <StackLayout #stl col='0' paddingLeft="2" paddingRight="2" backgroundColor="#FF2D55"
                                verticalAlignment="middle" horizontalAlignment="left" borderRadius="10%">
                                <Label class="number" [text]="'#'+(i+1)"></Label>
                            </StackLayout>
                            <Image col="1" [src]="menuButton" class="menu-button" horizontalAlignment="center">
                            </Image>
                        </GridLayout>
                        <StackLayout row="1" class="song-name-container">
                            <Label class="song-name" [text]="item.name"></Label>
                        </StackLayout>
                        <StackLayout row="2" class="song-name-container">
                            <Label class="artist-name" [text]="item.artist"></Label>
                        </StackLayout>
                        <StackLayout row="3" class="song-name-container" orientation="horizontal">
                            <StackLayout class="play-icon-container">
                                <Image class="play-icon" [src]="playIcon"></Image>
                            </StackLayout>
                            <Label class="views" [text]="item.views+' plays'"></Label>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
    <StackLayout *ngIf="!isInternetConnection" width="100%" verticalAlignment="middle" orientation="vertical">
        <Image class="wifi-off-icon" [src]="wifiOffIcon"></Image>
        <Label class="internet-message" textWrap="true" [text]="internetMessage"></Label>
        <Button class="try-again-button" text="TRY AGAIN" (tap)="onTryAgain()"></Button>
    </StackLayout>
</GridLayout>
<GridLayout *ngIf="!isRendering" width="100%" height="100%" backgroundColor="transparent">
    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
        colSpan="1">
    </ActivityIndicator>
</GridLayout>