<Page actionBarHidden="true">
    <GridLayout class="page">
        <StackLayout height="100%" width="100%" backgroundColor="#FFFFFF" verticalAlignment="Top">
            <GridLayout columns="auto,auto">
                <StackLayout [visibility]="showBackButton" col="0" width="15%" height="100%" verticalAlignment="middle">

                    <Button class="back-button" (tap)="onBackClick()"></Button>
                </StackLayout>
                <StackLayout col="1" width="70%" height="100%" verticalAlignment="middle" horizontalAlignment="center">
                    <Label class="header-label" [text]="headerLabel"></Label>
                </StackLayout>

            </GridLayout>
        </StackLayout>
    </GridLayout>
</Page>