.page {
    width: 100%;
    height: 100%;
}

.footer-container {
    width: 100%;
    height: 8%;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.player-container {
    width: 100%;
    height: 8%;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.main-container {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
}

.page-heading-container {
    height: auto;
    width: 94%;
    vertical-align: middle;
    margin-top: 10;
}

.page-heading {
    font-size: 30%;
    color: #ff5600;
    font-weight: 500;
}

.library-album-list {
    width: 100%;
    height: auto;
}

.library-song-container {
    /* height: 500px;
    width: 94%; */
    border-radius: 30%;
    margin-top: 30px;
}

.song-image {
    height: 100%;
    width: 100%;
    /* border-radius: 30; */
}

.song-name-container {
    /* background-color: black; */
    background: linear-gradient(to bottom, transparent, black);
    vertical-align: bottom;
    border-radius: 0 0 15 15;
    padding: 5px 25px;
}

.song-name {
    color: #ffffff;
    font-size: 18;
    font-weight: 500;
}

.plus-icon {
    width: 50%;
}

.playlist-dialog {
    width: 100%;
    height: 100%;
    padding: 20%;
    background: linear-gradient(to bottom, #ffffff, #ff5600);
    vertical-align: middle;
}

.dialog-text {
    /* height: 20%; */
    margin-top: 25%;
    width: 80%;
}

.dialog-text Label {
    color: #ffffff;
    font-size: 18;
    text-align: center;
    font-weight: 500;
}

.dialog-textfield {
    margin-top: 8%;
    width: 80%;
}

.dialog-textfield TextField {
    padding: 0 0 5 0;
    border-bottom-color: #c7c7c7;
    font-size: 28;
    color: #ffffff;
    font-weight: 600;
    border-width: 0 0 1 0;
    text-align: center;
}

.dialog-btn {
    margin-top: 10%;
    padding: 0;
    width: 70%;
    height: 40;
}

.dialog-no-btn {
    color: #c5c6c6;
    text-align: center;
    z-index: 0;
    font-size: 14;
    background-color: transparent;
    width: 50%;
    margin: 0;
}

.dialog-yes-btn {
    color: #ffffff;
    text-align: center;
    font-size: 14;
    font-weight: 400;
    z-index: 0;
    width: 50%;
    background-color: transparent;
    margin: 0;
}