<GridLayout #main rows="*,auto" height="100%">
    <StackLayout *ngIf="isRendering" row="0" #container class="main-container">
        <StackLayout class="page-heading-container">
            <Label class="page-heading" [text]="pageHeading"></Label>
        </StackLayout>

        <RadListView [items]="librarys" class="library-album-list">
            <ListViewStaggeredLayout tkListViewLayout spanCount="2">
            </ListViewStaggeredLayout>
            <ng-template let-item="item" let-j="index" width="100%">

                <GridLayout height="180vh" width="95%" class="library-song-container">
                    <GridLayout *ngIf="j==0 && isLogin" rows="*,*" columns="*,*" (tap)="onLike(item)" backgroundColor="#FBF9F8"
                        borderRadius="15">
                        <Image [row]="i==0?0:i==1?0:i==2?1:1" [col]="i==0?0:i==1?1:i==2?0:1"
                            [borderRadius]="i==0?'15 0 0 0':i==1?'0 15 0 0':i==2?'0 0 0 15':'0 0 15  0'"
                            *ngFor="let song of item.songs;let i = index" class="song-image" stretch="fill"
                            [src]="song.image.resize_url">
                        </Image>
                    </GridLayout>
                    <GridLayout *ngIf="j > 2" rows="*,*" columns="*,*" (tap)="onLibrary(item)"
                        backgroundColor="#FBF9F8">
                        <Image [row]="i==0?0:i==1?0:i==2?1:1" [col]="i==0?0:i==1?1:i==2?0:1"
                            [borderRadius]="i==0?'15 0 0 0':i==1?'0 15 0 0':i==2?'0 0 0 15':'0 0 15  0'"
                            *ngFor="let song of item.songs;let i = index" class="song-image" stretch="fill"
                            [src]="song.image.resize_url">
                        </Image>
                    </GridLayout>
                    <StackLayout *ngIf="j==(isLogin?1:0)" backgroundColor="#FBF9F8" padding="30%" borderRadius="15"
                        (tap)="onOfflineMusic()">
                        <Image class="plus-icon" [src]="offline_music_icon" verticalAlignment="middle"></Image>
                    </StackLayout>
                    <StackLayout *ngIf="j==(isLogin?2:1)" backgroundColor="#FBF9F8" padding="30%" borderRadius="15"
                        (tap)="onDownload()">
                        <Image class="plus-icon" [src]="offline_music_icon" verticalAlignment="middle"></Image>
                    </StackLayout>
                    <StackLayout *ngIf="j==(librarys.length-1) && isLogin" backgroundColor="#ff5600" padding="30%"
                        borderRadius="15" (tap)="showDialog()">
                        <Image class="plus-icon" [src]="plus_icon" verticalAlignment="middle"></Image>
                    </StackLayout>
                    

                    <StackLayout row="1" colSpan="2" class="song-name-container">
                        <Label class="song-name" [text]="item.name | titlecase"></Label>
                    </StackLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
    </StackLayout>
    <GridLayout *ngIf="isDialog" #createDialog modal size="lg" duration="100">
        <GridLayout class="playlist-dialog" rows="auto,auto,auto,auto" verticalAlignment="middle">
            <GridLayout class="dialog-text" row="0" verticalAlignment="middle">
                <Label text="Give your playlist a name."></Label>
            </GridLayout>
            <GridLayout row="1" class="dialog-textfield" verticalAlignment="middle">
                <TextField hint="" [text]='playlistName' secure="false" returnKeyType="done" maxLength="50" (textChange)="onPlaylistChange($event)" placeholder-color="#a1a1a1">
                </TextField>
            </GridLayout>
            <GridLayout row="3" class="dialog-btn" columns="auto,auto">
                <Button col="0" class="dialog-no-btn" text="CANCEL" (tap)="dialogTap('no')">
                </Button>
                <Button col="1" class="dialog-yes-btn" text="CREATE" (tap)="dialogTap('yes')">
                </Button>
            </GridLayout>
        </GridLayout>
    </GridLayout>
    <GridLayout *ngIf="!isRendering" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1" colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</GridLayout>