<GridLayout class="page" *ngIf="isRendering">
    <GridLayout #main rows="auto,*" height="100%">
        <StackLayout row="0" #container>
            <GridLayout class="page-heading-container" columns="*,auto">
                <Label col="0" class="page-heading" [text]="concertsHeading"></Label>
            </GridLayout>
        </StackLayout>
        <RadListView row="1" [items]="concertsList" class="concerts-list">
            <ListViewStaggeredLayout tkListViewLayout spanCount="1">
            </ListViewStaggeredLayout>
            <ng-template let-item="item" let-i="index" width="100%">
                <GridLayout class="concert-card" columns="*,auto" (tap)="onEvent(item)">
                    <GridLayout class="event-name-container" col="0" rows="auto,auto">
                        <Label row="0" [text]="item.title |titlecase" class="event-name" textWrap="true"></Label>
                        <Label row="1" [text]="'Featuring '+item.artist |titlecase" class="artist-name" textWrap="false"></Label>
                    </GridLayout>
                    <GridLayout col="1" rows="auto,auto,auto,auto" class="event-time-container">
                        <Label row="0" class="event-time" textWrap="false" fontSize="12%">
                            <FormattedString row="0" class="event-time">
                                <Span [text]="item.date |date:'EEEE' |uppercase" fontWeight="500"></Span>
                                <Span [text]="' | '"></Span>
                                <Span [text]="item.date |date:'shortTime' | uppercase"
                                    fontWeight="500"></Span>
                            </FormattedString>
                        </Label>
                        <Label row="1" [text]="item.date |date:'MMM dd, yyyy' |uppercase" class="event-time" fontSize="12%" textWrap="false"></Label>
                        <Label row="2" *ngIf="!item.inStock" [text]="stock_out" class="stock-out" textWrap="false" marginTop="10"></Label>
                        <GridLayout row="3" class="buy-container" marginTop="5">
                            <Label class="buynow-btn" [text]="buy_now"></Label>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
    <StackLayout *ngIf="isConcertDetail" [class]="concertViewClass">
        <ns-concertDetail></ns-concertDetail>
    </StackLayout>
</GridLayout>
<GridLayout *ngIf="!isRendering" width="100%" height="100%" backgroundColor="transparent">
    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1" colSpan="1">
    </ActivityIndicator>
</GridLayout>