.page {
    width: 100%;
    height: 100%;
}

.page-heading-container {
    height: auto;
    width: 95%;
    vertical-align: middle;
    margin-top: 10;
}

.page-heading {
    font-size: 30%;
    color: #ff5600;
    font-weight: 500;
}

.concerts-list {
    height: auto;
    width: 100%;
}

.concert-card {
    height: 100%;
    width: 95%;
    border-radius: 20;
    padding: 0 10 10 10;
    background: linear-gradient(to right, #ffcc26, #ff5c02);
    margin-top: 10;
}

.event-name-container {
    height: auto;
    margin-right: 10;
}

.event-name {
    color: #ffffff;
    font-size: 20%;
    font-weight: 500;
}

.artist-name {
    color: #000000;
    text-align: center;
    font-size: 12%;
}

.event-time-container {
    height: auto;
    width: 50%;
    margin-top: 5;
}

.event-time {
    color: #ffffff;
    /* font-size: 15%; */
    font-weight: 500;
    text-align: right;
    margin: 0;
    padding: 0;
}

.stock-out {
    color: #ffcc26;
    text-align: right;
    font-size: 12%;
    vertical-align: bottom;
}

.buy-container {
    border-radius: 5;
    border-color: #ffffff;
    border-width: 1;
    background-color: transparent;
    width: 40%;
    horizontal-align: right;
    vertical-align: bottom;
}

.buynow-btn {
    color: #ffffff;
    text-align: center;
    font-size: 12%;
    padding: 0;
    margin: 2 0;
    vertical-align: middle;
}

.view-out {
    animation-name: viewOut;
    animation-duration: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}

@keyframes viewOut {
    from {
        transform: translate(0, -500);
    }
    to {
        transform: translate(0, 0);
    }
}

.view-in {
    animation-name: viewIn;
    animation-duration: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}

@keyframes viewIn {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, -500);
    }
}

.my-tickets-button {
    width: auto;
    height: 40;
    font-size: 14%;
    color: #ff5600;
    border-color: #ff5600;
    border-radius: 5;
    border-width: 1;
    padding-top: 0;
    padding-bottom: 0;
}

.my-tickets-button:highlighted {
    background-color: #ff5600;
    color: #000000;
    border-color: #000000;
}

.ticket-number {
    font-size: 16%;
    color: #000000;
    font-weight: 500;
    horizontal-align: right;
}