@import "~nativescript-theme-core/css/core.css";
.bg-page {
    width: 100%;
    height: 92.1%;
    background-image: linear-gradient(0deg, #4ABDAB, #FC4A19);
}

.player-container {
    width: 100%;
    height: 8%;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.footer-container {
    width: 100%;
    height: 8%;
    vertical-align: bottom;
}

.dialog-container {
    background-color: #ffffff;
    vertical-align: middle;
    width: 90%;
    height: 35%;
    border-radius: 10;
}

.dialog-label {
    width: 80%;
    text-align: left;
    vertical-align: top;
    margin-top: 7%;
    height: 45%;
    font-size: 19;
}

.dialog-btn-container {
    width: 90%;
    vertical-align: bottom;
    horizontal-align: center;
    height: 50%;
}

.buy-btn {
    background-color: #ff5600;
    color: #ffffff;
    border-radius: 10;
    height: 50%;
}

.cancel-btn {
    background-color: #ff5600;
    border-radius: 10;
    height: 50%;
    color: #ffffff;
}

.connection-label {
    color: white;
    background-color: #000000;
    width: 100%;
    height: 5%;
    transform: translate(0, 100%);
    vertical-align: bottom;
    animation-name: slide-up;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}