.page {
    width: 100%;
    height: 100%;
}

.page-heading-container {
    height: auto;
    width: 95%;
    vertical-align: middle;
    margin-top: 10;
}

.page-heading {
    font-size: 30%;
    color: #ff5600;
    font-weight: 500;
}

.concerts-list {
    height: auto;
    width: 100%;
}

.concert-card {
    height: 100%;
    width: 95%;
    border-radius: 20;
    padding: 0 10 10 10;
    background: linear-gradient(to right, #ffcc26, #ff5c02);
    margin-top: 10;
}

.event-name-container {
    height: auto;
    margin-right: 10;
}

.event-name {
    color: #ffffff;
    font-size: 20%;
    font-weight: 500;
}

.artist-name {
    color: #000000;
    text-align: center;
    font-size: 12%;
}

.concert-address {
    font-size: 16%;
}

.event-time-container {
    height: auto;
    width: 50%;
    margin-top: 5;
}

.event-time {
    color: #ffffff;
    /* font-size: 15%; */
    font-weight: 500;
    text-align: right;
    margin: 0;
    padding: 0;
}

.ticket-number {
    font-size: 16%;
    color: #000000;
    font-weight: 500;
    horizontal-align: right;
    margin-top: 10;
}