<GridLayout class="page" *ngIf="isRendering">
    <GridLayout #main rows="auto,*" height="100%">
        <StackLayout row="0" #container>
            <GridLayout class="page-heading-container" columns="*,auto">
                <Label col="0" class="page-heading" [text]="pageHeading"></Label>
            </GridLayout>
        </StackLayout>
        <RadListView row="1" [items]="ticketsList" class="concerts-list">
            <ListViewStaggeredLayout tkListViewLayout spanCount="1">
            </ListViewStaggeredLayout>
            <ng-template let-item="item" let-i="index" width="100%">
                <GridLayout class="concert-card" columns="*,auto">
                    <GridLayout class="event-name-container" col="0" rows="auto,auto,auto">
                        <Label row="0" [text]="item.title |titlecase" class="event-name" textWrap="true"></Label>
                        <Label row="1" [text]="'Featuring '+item.artist |titlecase" class="artist-name" textWrap="false"></Label>
                        <Label row="2" class="concert-address" textWrap="true">
                            <FormattedString class="event-time">
                                <Span text="Venue: " color="#ffffff"></Span>
                                <Span [text]="item.address" color="#000000"></Span>
                            </FormattedString>
                        </Label>
                    </GridLayout>
                    <GridLayout col="1" rows="auto,auto,auto" class="event-time-container">
                        <Label row="0" class="event-time" textWrap="false" fontSize="12%">
                            <FormattedString row="0" class="event-time">
                                <Span [text]="item.date |date:'EEEE' |uppercase" fontWeight="500"></Span>
                                <Span [text]="' | '"></Span>
                                <Span [text]="item.date |date:'shortTime' | uppercase"
                                    fontWeight="500"></Span>
                            </FormattedString>
                        </Label>
                        <Label row="1" [text]="item.date |date:'MMM dd, yyyy' |uppercase" class="event-time" fontSize="12%" textWrap="false"></Label>
                        <Label class="ticket-number" row="3" [text]="item.ticketNumber==1?item.ticketNumber+' ticket':item.ticketNumber+' tickets'"></Label>
                    </GridLayout>

                </GridLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
</GridLayout>
<GridLayout *ngIf="!isRendering" width="100%" height="100%" backgroundColor="transparent">
    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1" colSpan="1">
    </ActivityIndicator>
</GridLayout>