<GridLayout class="page" rows="auto,*">
    <GridLayout row="0" columns="auto,*" class="back-container" orientation="horizontal">
        <Image col="0" class="back-button" [src]="backbtn" (tap)="onBack()"></Image>
        <Label colSpan="2" class="add-song-text" [text]="headerText"></Label>
    </GridLayout>
    <ScrollView width="100%" row="1">
        <StackLayout width="100%" height="auto">
            <GridLayout class="main-container" verticalAlignment="top" rows="auto,auto,auto">
                <StackLayout row="0" class="profile-container" orientation="horizontal" (tap)="onChangePassword()">
                    <Label class="profile-heading" [text]="changePasswordHeading"></Label>
                </StackLayout>

                <StackLayout row="1" class="profile-container" orientation="horizontal" (tap)="onLogout()">
                    <Label class="profile-heading" [text]="logoutHeading"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>